body {
	font-family: 'Lato', sans-serif;

}

#backgroundid {
	background-color: whitesmoke;
	min-height: 600px;
	overflow: visible;
}	

#header {
	border:  0px solid black;
	background-color: white;
	width: 100%;
	height: 70px;
	position: fixed;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
	z-index: 9;
}

#subheader {
	border: 0px solid black;
	width: 100%;
	height: 70px;
	position: relative;

}

#headerline {
	height: 2px;
	width: 100%;
	background-color: lightgray;
	position: absolute;
	top: 69px;
	margin-top: 0px;
	display: none;
}

#searchmenu {
	border: 0px solid #777;
	box-shadow: inset 0 0.5px 1px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: lightgray;
	color: black;
	opacity: 0.6;
	width: 250px;
	height: 45px;
	position: absolute;
	top: 12px;
	left: 73px;
	font-size: 16px;

}


#squabblerimage {
	position: absolute;
	top: 4px;
	right: 116px;
	height: 60px;
	width: 60px;
	filter: drop-shadow(1px 1px 1px palevioletred) brightness(110%);
}

#headersquab {
		top: 16px;
		right: 10px;
		position: absolute;
		font-weight: bold;
		color: palevioletred;
		filter: drop-shadow(0.75px 0.75px 0.75px palevioletred) brightness(110%);

}

/*******dropdown*****/


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  min-width: 197px;
  text-decoration: none;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
  z-index: 9;
  left: 42px;
  top: 70px;
  color: gray;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: gray;
  padding: 17px 16px;
  font-weight: bold;
  font-size: 15px;
  display: block;
  z-index: 8;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
	text-decoration: none;
}

.linktext {
	position: relative;
	top: 0px;
}

#dropdownaccount {
	color: darkgray;
	filter: drop-shadow(0.5px 0.5px 0.5px gray);
	opacity: 0.6;
	margin-right: 9px;
}

#dropdowninfo {
	color: darkgray;
	filter: drop-shadow(0.5px 0.5px 0.5px gray);
	opacity: 0.6;
	margin-right: 9px;
}

#dropdownfeedback {
	color: darkgray;
	filter: drop-shadow(0.5px 0.5px 0.5px gray);
	opacity: 0.6;
	margin-right: 9px;
}

#dropdownexit {
	color: darkgray;
	filter: drop-shadow(0.5px 0.5px 0.5px gray);
	opacity: 0.6;
	margin-right: 9px;
}

.show {
	display:block;
}

#popupbuttondiv {
	position: relative;
	top: 11px;
	left: 13px;
	color: palevioletred;
	background: none;
	filter: drop-shadow(1px 1px 1px palevioletred) brightness(108%);
	border: 0px solid black;

}

#popupbutton {
	position: relative;
	top: -35px;
	left: 0px;
	width: 55px;
	height: 55px;
	opacity: 0;
}

#popupmenu {
	border: 0px solid #777;
	box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.2), 0 0.5px 2px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	background-color: white;
	display: inline-block;
	color: gray;
	width: 55px;
	height: 55px;
	position: absolute;
	top: 6px;
	left: 10px;
	font-size: 16px;

}



#popupmenu:hover {
	opacity: 0.8;
}

/************************************************start scrollbar************************************************************/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2.5px lightgray; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgray; 
  opacity: 0.9;
}


/*****************************small info start **********************/

#smallinfo {
	border: 1px solid white;
	background-color: white;
	position: absolute;
	width: 210px;
	height: 110px;
	left: -3px;
	top: 93px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);	
}

#smallinfohead {
	position: absolute;
	font-weight: bold;
	color: palevioletred;
	top: 1px;
	left: 63px;
	filter: brightness(110%);
}

#smallinfobuttonbackground {
	width: 190px;
	height: 45px;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	background-color: whitesmoke;
	position: absolute;
	top: 53px;
	left: 10px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);

}

#smallinfoline {
	background-color: palevioletred;
	height: 1.5px;
	position: relative;
	top: 20px;	
	margin-bottom: 0px;
	filter: brightness(110%);
	z-index: 4;
}

.closeinfo {
	width: 175px;
	height: 30px;
	position: absolute;
	top: 6.5px;
	left: 6.5px;	
	font-size: 14px;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	border: 0px;
	outline: none;
	background-color: palevioletred;
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
	filter: drop-shadow(1px 1px 1px palevioletred) brightness(108%);
}

.closeinfo:hover {
	opacity: 0.9;
}

.openinfo {
	width: 175px;
	height: 30px;
	position: absolute;
	top: 7.5px;
	left: 7.5px;	
	font-size: 14px;
	color: white;
	font-weight: bold;
	border: 0px;
	outline: none;
	border-radius: 5px;
	background-color: black;
	opacity: 0.6;
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
	filter: drop-shadow(1px 1px 1px black);
}

.openinfo:hover {
	opacity: 0.5;
}


#smallinfopopup {
	position: absolute;
	width: 640px;
	height: 580px;
	border: 0px solid black;
	background-color: white;
	z-index: 5;
	left: 240px;
	top: 85px;
	border-radius: 5px;
	display: none;
	box-shadow: 0 0 0 2000px rgba(0,0,0,0.6);
}

/***************************main content**************************/

#maincontent {
	top: 0px;
	border:  0px solid black;
	height: auto;
	width: 1210px;
	position: relative;

}

/*****************Squabble *******************************/

#squabbleblock {
	border: 1px solid white;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	width: 680px;
	height: 495px;
	top: 93px;
	left: 205px;
	position: relative;

}

.menubuttons {
	position: absolute;
	display: inline;
}

.menubuttons:hover {
	opacity: 0.8;
}

#soloinfo {
	position: absolute;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	width: 195px;
	height: 260px;
	top: 20px;
	left: 20px;

}

#solodisplay {
	position: absolute;
	border: 1px solid palevioletred;
	background-color: palevioletred;
	filter: brightness(110%);
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	width: 175px;
	height: 240px;
	left: 9px;
	top: 9px;

}

#solobuttonborder {
	position: absolute;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	width: 195px;
	height: 65px;
	left: 20px;
	top: 293px;
}

#soloheaderbackground {
	position: absolute;
	top: -1px;
	border: 1px solid black;
	background-color: black;
	height: 50px;
	width: 175px;
	left: -1px;
	border-radius: 5px;
	opacity: 0.6;
}

#soloheader {
	font-weight: bold;
	color: white;
	position: absolute;
	top: -13px;
	left: 52px;
}

#solop {
	font-weight: bold;
	color: white;
	position: absolute;
	top: 53px;
	left: 41px;
}

#solobutton {
	position: absolute;
	color: white;
	background-color: palevioletred;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	filter: drop-shadow(1px 1px 1px palevioletred) brightness(110%);
	border: none;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	width: 175px;
	height: 45px;
	top: 9px;
	left: 9px;
}

#solobutton:hover {

}

#soloicon {
	position: absolute;
	left: 30.5px;
	top: 90px;
}


.menuicons {
	color: white;
}


#multiinfo {
	position: absolute;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	width: 195px;
	height: 260px;
	top: 20px;
	left: 240px;

}

#multidisplay {
	position: absolute;
	border: 1px solid palevioletred;
	background-color: palevioletred;
	filter: brightness(110%);
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	width: 175px;
	height: 240px;
	left: 9px;
	top: 9px;

}

#multibuttonborder {
	position: absolute;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	width: 195px;
	height: 65px;
	left: 240px;
	top: 293px;
}

#multiheaderbackground {
	position: absolute;
	top: -1px;
	border: 1px solid black;
	background-color: black;
	height: 50px;
	width: 175px;
	left: -1px;
	border-radius: 5px;
	opacity: 0.6;
}

#multiheader {
	font-weight: bold;
	color: white;
	position: absolute;
	top: -13px;
	left: 52px;
}

#multip {
	font-weight: bold;
	color: white;
	position: absolute;
	top: 52px;
	left: 34px;
}

#multibutton {
	position: absolute;
	color: white;
	background-color: palevioletred;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	filter: drop-shadow(1px 1px 1px palevioletred) brightness(110%);
	border: none;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	width: 175px;
	height: 45px;
	top: 9px;
	left: 9px;
}

#multibutton:hover {

}

#multiicon {
	position: absolute;
	left: 9px;
	top: 90px;
}

/**/

#createinfo {
	position: absolute;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	width: 195px;
	height: 260px;
	top: 20px;
	left: 460px;

}

#createdisplay {
	position: absolute;
	border: 1px solid lightgray;
	background-color: lightgray;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	width: 175px;
	height: 240px;
	left: 9px;
	top: 9px;

}

#createbuttonborder {
	position: absolute;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	width: 195px;
	height: 65px;
	left: 460px;
	top: 293px;
}

#createheaderbackground {
	position: absolute;
	top: -1px;
	border: 1px solid black;
	background-color: black;
	height: 50px;
	width: 175px;
	left: -1px;
	border-radius: 5px;
	opacity: 0.6;
}

#createheader {
	font-weight: bold;
	color: white;
	position: absolute;
	top: -13px;
	left: 40px;
}

#createp {
	font-weight: bold;
	color: white;
	position: absolute;
	top: 53px;
	left: 10px;
}

#createbutton {
	position: absolute;
	color: white;
	background-color: lightgray;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	border: none;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	width: 175px;
	height: 45px;
	top: 9px;
	left: 9px;
}

#createbutton:hover {

}

#createicon {
	position: absolute;
	left: 30px;
	top: 90px;
}

#spectatebutton {
	position: absolute;
	color: white;
	background-color: black;
	opacity: 0.6;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	border: none;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	width: 300px;
	height: 45px;
	top: 9px;
	left: 9px;
}

#spectatebutton:hover {
	opacity: 0.5;
}

#spectatebuttonborder {
	position: absolute;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	width: 320px;
	height: 65px;
	left: 180px;
	top: 405px;
	display: block;
}


#spectatelinebackground {
	background-color: whitesmoke;
	opacity: 1;
	position: absolute;
	left: -1px;
	top: 375px;
	width: 680px;
	height: 12px;
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.2);
}
/***********************************************************Profile Tab **********************************************************************/


/***********************************************************explore Tab **********************************************************************/

#explorediv {
	border: 0px solid black;
	background-color: whitesmoke;
	border-radius: 5px;
	position: absolute;
	width: 640px;
	height: 385px;
	left: 20px;
	bottom: 20px;
	box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,0.2);
	overflow-y: scroll
}

#exploresearch {
	position: absolute;
	border: 0px solid black;
	border-radius: 5px;
	height: 55px;
	width: 640px;
	left: 20px;
	top: 90px;
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	background-color: lightgray;
	opacity: 0.6;
	font-size: 19px;
}

/*********************************start nav styling*********************************************************************************************/

#mainblocknav {
	border: 1px solid white;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
	border-radius: 5px;
	width: 210px;
	height: 270px;
	left: -3px;
	top: 218px;
	position: absolute;

}

.navbuttons {
	border: 0px solid black;
	background-color: white;
	text-align: left;
	font-weight: bold;
	width: 193px;
	height: 66px;
	display: inline-block;


}

.navbuttondiv {
	margin-top: 8px;
}

.navbuttondiv:hover {

}

.navbuttonh3 {
	margin-bottom: 0px; 
	margin-top: 6px;
	display: inline;
	font-weight: bold;
	font-size: 20px;
}

.navbuttonicon {
	display: inline; 
	margin-right: 10px;
	vertical-align: middle;
	opacity: 0.5;

}

.navbuttonicon:hover {
	opacity: 1;
}

.navbuttonsubtext {
	margin-left: 48px;
}


.mainblocknav button.active {
  background-color: #ccc;
}

.active .stylebuttonwrapper .navbuttondiv {
	color: palevioletred;
	filter: brightness(108%);

}

.active .stylebuttonwrapper .navbuttondiv .navbuttonicon {
	color: palevioletred;
	opacity: 1;

}

#squabblebutton {
	color: gray;

}

#squabblebutton:hover {
	color: palevioletred;
	opacity: 1;
}

#profilebutton {
	color: gray;
}

#profilebutton:hover {
	color: palevioletred;
	opacity: 1;
}

#otherbutton {
	color: gray;
}

#otherbutton:hover {
	color: palevioletred;
	opacity: 1;
}

#feedbutton {
	color: gray;
}

#feedbutton:hover {
	color: palevioletred;
	opacity: 1;
}

/**********************************feed styling****************/

#feedblock {
	border: 1px solid white;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	width: 680px;
	height: 80px;
	top: 93px;
	left: 205px;
	position: relative;


}

#feedmenu {
	position: absolute;
	top: 10px;
	left: 181px;
	border: 0px solid black;
	background-color: whitesmoke;
	border-radius: 5px;
	width: 313px;
	height: 57px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	z-index: 4;
}

#feeddiscover {
	font-weight: bold;
	color: white;
	left: 7px;
}

.openfeed {
	border-radius: 5px;
	position: absolute;
	height: 48px;
	width: 140px;
	top: 4px;
	left: 10px;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	background-color: palevioletred;
	filter: brightness(108%);
	opacity: 1;
}

.openfeed:hover {
	opacity: 0.9;
}

.closedfeed {
	border-radius: 5px;
	position: absolute;
	height: 48px;
	width: 140px;
	top: 4px;
	left: 10px;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	background-color: black;
	opacity: 0.6;
}

.closedfeed:hover {
	opacity: 0.5;
}

#feedfollowing {
	left: 167px;
	font-weight: bold;
	color: white;
}
#feeddiv {
	background-color: white;
	border-radius: 5px;
	position: relative;
	width: 680px;
	min-height: 400px;
	left: 205px;
	top: 90px;
	margin-top: 15px;
}

/********************************************************************** stream styling **********************/

#stream {
	left: 915px;
	top: 91px;
	position: absolute;
	z-index: 1;
}

#streambackground {
	border: 1px solid white;
	background-color: white;
	border-radius: 5px;
	width: 298px;
	height: 432px;
	left: 0px;
	top: 60px;
	position: absolute;
	z-index: 2;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#streamdiv {
	background-color: white;
	border-radius: 0px;
	position: absolute;
	width: 298px;
	height: 428px;
	top: 57.5px;
	left: 0px;
	z-index: 3;
	overflow-y: scroll;
}

.openstream {
	border-radius: 5px;
	position: absolute;
	height: 60px;
	width: 148px;
	top: 0px;
	left: 0px;
	border: none;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
	color: palevioletred;
	filter: brightness(110%);
	background-color: white;
	font-weight: bold;
	font-size: 20px;
}

.openstream:hover {
	opacity: 0.9;
}

.closedstream {
	border-radius: 5px;
	position: absolute;
	height: 60px;
	width: 148px;
	top: 0px;
	left: 0px;
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	color: gray;
	filter: brightness(110%);
	background-color: white;
	font-weight: bold;
	font-size: 20px;
}

.closedstream:hover {
	opacity: 0.9;
}

#streambutton {
	z-index: 2;
	top: 2px;
	outline: none;
}

#notificationbutton {
	left: 150px;
	z-index: 2;
	top: 2px;
	outline: none;
}

#streamline {
	top: 34.5px;
	left: 0px;
	width: 149px;
	position: absolute;
	z-index: 9;
	height: 1.5px;
	filter: brightness(110%);
	background-color: palevioletred;
}

#notifyline {
	top: 36px;
	left: 150px;
	width: 149px;
	position: absolute;
	z-index: 9;
	height: 0.5px;
	filter: brightness(110%);
	background-color: lightgray;
}

/*******************************************************bottomblock *******************************/

#bottomheader {
	text-align: center;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 180px;
	left: 290px;
	z-index: 2;
}

#bottomline {
	background-color: lightgray;
	height: 0.5px;
	position: relative;
	top: 52px;	
	margin-bottom: 0px;
	top: 155px;
	z-index: 2;
}

#bottomblock {
	border: 1px solid white;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	width: 680px;
	height: 230px;
	top: 0px;
	left: 205px;
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
	display: inline-block;
}

#bottomheaderbackground {
	background-color: lightgray;
	opacity: 1;
	position: absolute;
	left: -1px;
	top: 168px;
	width: 680px;
	height: 60px;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

#bottomheaderbackgroundtop {
	background-color: black;
	opacity: 0.6;
	position: absolute;
	left: -1px;
	top: 168px;
	width: 680px;
	height: 60px;
	border-radius: 5px;
	z-index: 1;
}

/*account type*/

#accounttype {
	border: 1px solid whitesmoke;
	border-radius: 5px;
	background-color: whitesmoke;
	position: absolute;
	right: 20px;
	top: 20px;
	height: 130px;
	width: 210px;
	box-shadow:  0 1px 2px 0 rgba(0,0,0,0.2);
}

#accountinterior {
	border: 1px solid lightgray;
	border-radius: 5px;
	background-color: lightgray;
	position: absolute;
	left: 9px;
	top: 10px;
	height: 110px;
	width: 190px;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
}

#accounttypeheaderbackground {
	position: absolute;
	top: 72px;
	border: 1px solid black;
	background-color: black;
	height: 37px;
	width: 190px;
	left: -1px;
	border-radius: 5px;
	opacity: 0.6;
}

#accounttypeheader {
	font-weight: bold;
	color: white;
	position: absolute;
	top: 70px;
	left: 54px;
}



#credentials {
	border: 1px solid whitesmoke;
	border-radius: 5px;
	background-color: whitesmoke;
	position: absolute;
	left: 20px;
	top: 20px;
	height: 130px;
	width: 210px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

#credentialsinterior {
	border: 1px solid lightgray;
	border-radius: 5px;
	background-color: lightgray;
	position: absolute;
	left: 9px;
	top: 10px;
	height: 110px;
	width: 190px;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
}

#credentialscroll {
	border: 0px solid black;
	border-radius: 5px;
	position: absolute;
	left: -1px;
	top: -1px;
	height: 72px;
	width: 190px;
}

#credentialsheaderbackground {
	position: absolute;
	top: 72px;
	border: 1px solid black;
	background-color: black;
	height: 37px;
	width: 190px;
	left: -1px;
	border-radius: 5px;
	opacity: 0.6;
}

#credentialsheader {
	font-weight: bold;
	color: white;
	position: absolute;
	top: 70px;
	left: 43px;
}

#hidebuttonblock {
	position: absolute;
	left: 245px;
	top: 90px;
}

#hidebuttonborder {
	position: absolute;
	width: 190px;
	height: 50px;
	border: 1px solid whitesmoke;
	background-color: whitesmoke;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);

}

#hidebutton {
	background-color: black;
	opacity: 0.6;
	outline: none;
	border: 0px solid lightgray;
	border-radius: 5px;
	position: absolute;
	height: 30px;
	width: 170px;
	left: 9px;
	top: 10px;
	z-index: 4;
	font-weight: bold;
	color: white;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

#hidebutton:hover {
	opacity: 0.5;
}

#clock {
	left: 280px;
	top: 35px;
	position: absolute;
	font-weight: bold;
	font-size: 28px;
	color: palevioletred;
	border: 1px solid whitesmoke;
	background-color: whitesmoke;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
/********************************************************footer styling****************************/

footer {
	font-family: 'Lato', sans-serif;
}

#footerborder {
	background-color: white;
	height: 191px;
	color: #777;
	margin-top: 30px;
	text-align: center;

}


li {
	display: inline;
	margin-right: 8px;
	margin-left: 8px;

}

.footerlink {
	color: #777;

}

.footerlink:hover {
	color: #7777;
}

#footerlist {
	list-style: none;
	font-size: 13px;
	display: inline;
}

/******************************************************************************** LARGE SCREEN ADJUSTMENTS **********************************/
