{% extends "base.html" %}
{% block title %}Squabbler | Search Profiles{% endblock %}
{% from "macros.html" import stream %}
{% from "macros.html" import headertext with context %}
{% from "macros.html" import headerstuff %}
{% from "macros.html" import mainnav with context %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/explore.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="header">
    {{ headerstuff() }}
    {{ headertext('Explore', 'BRACCAS MEAS VESCIMINI') }}
</div>

	<div id="backgroundid" class="container-fluid">

		<div class="container" id="maincontent">
  
			<div id="smallinfopopup">
				<button id="smallinfopopupclose" onclick="infoinexit()">Close</button>
			</div>
            
            {{ mainnav(fullname, username) }}

            <div id="explore" class="tabcontent">
                    <div class="blocks" id="exploreblock">
                        <input type="text" id="exploresearch" placeholder="&#xF002; Search for others" style="font-family:FontAwesome, Lato;">
                    </div>
                    <div id="explorediv">
                        <div id="inputexplorediv">
                            <div id="recbubble1" class="explorebubble"></div>
                            <div id="recbubble2" class="explorebubble"></div>
                            <div id="recbubble3" class="explorebubble"></div>
                            <div id="recbubble4" class="explorebubble"></div>
                            <div id="recbubble5" class="explorebubble"></div>
                        </div>
                        <div class="bottomfeedbubble">
                            <button class="feedbacktotop botfeedbuttons fadein" onclick="window.scrollTo(0, 0);">Back to top</button>
                            <img src="static/squabblerfavicon.png" class="bottomfeedimg">
                            <button class="feedload botfeedbuttons fadein">Load more</button>
                        </div>
                    </div>

            </div>
            {{ stream() }}
		</div>
	</div>
{% endblock %}