{% extends "base.html" %}
{% block title %}Squabbler | Feed{% endblock %}
{% from "macros.html" import stream %}
{% from "macros.html" import headertext with context %}
{% from "macros.html" import headerstuff %}
{% from "macros.html" import mainnav with context %}
{% from "macros.html" import feedbubble with context %}
{% from "macros.html" import commentbubble with context %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/feed.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="header">

	{{ headerstuff() }}
	{{ headertext('Feed', 'DICTUM FACTUM') }}

</div>

	<div id="backgroundid" class="container-fluid">

		<div class="container" id="maincontent">
  
			<div id="smallinfopopup">
				<button id="smallinfopopupclose" onclick="infoinexit()">Close</button>
			</div>
            	{{ mainnav(fullname, username) }} 
            	<div id="feed">
					<div id="wrapperfeeddiv" class="feeddiv">
						<div id="discoverfeeddiv" class="activefeed">
							{% if not discoverposts %}
							<div class="feedbubble" id="nopostsdiscover">
								<div id="feedmenu">
									<button id="feeddiscover" onclick="feedOpen('feeddiscover')" class="feedmenubuttons openfeed fadein"><i class="fa-solid fa-earth-asia"></i> Discover</button>
									<button id="feedfollowing" onclick="feedOpen('feedfollowing')" class="feedmenubuttons closedfeed fadein"><i class="fa-solid fa-user-group"></i> Following</button>
								</div>
								<div id="firstfeedline"></div>
									<div class="postimgback postimgbackfirst"><img src="static/squabblerfavicon.png" class="postimg"></div>
									<div class="postoptionmenu postoptionmenufirst i"></div>
									<h4 class="postauthorname postauthornamefirst">Squabbler</h4>
									<h5 class="postauthor postauthorfirst">@squabbler</h5>
									<div class="postcontentdiv"><p class="postcontent postcontentfirst">No posts avaliable right now! Check back soon!</p></div>
									<div class="postmenu">
										<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 69</button>
										<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 420</button>
										<button class="postcomment postmenubuttons fadein"><i class="fa-solid fa-comment fa-lg"></i> 0</button>
										<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
									</div>
								</div>
							{% else %}
								{% for row in discoverposts %}
									{% if loop.first %}
									<div class="feedbubble" id="{{ row.pid }}">
										<div id="feedmenu">
											<button id="feeddiscover" onclick="feedOpen('feeddiscover')" class="feedmenubuttons openfeed fadein"><i class="fa-solid fa-earth-asia"></i> Discover</button>
											<button id="feedfollowing" onclick="feedOpen('feedfollowing')" class="feedmenubuttons closedfeed fadein"><i class="fa-solid fa-user-group"></i> Following</button>
										</div>
										<div id="firstfeedline"></div>
										<div class="postimgback postimgbackfirst"><a href="/{{ row.author }}"><img src="static/ConnorFulbright.png" class="postimg"></a></div>
										<button class="postoptionbutton postoptionbuttonfirst fadein" onclick="postmenuopen({{ row.pid }});"><i class="fa-solid fa-ellipsis fa-lg"></i></button>
										<div class="postoptionmenu postoptionmenufirst i"></div>
										<h4 class="postauthorname postauthornamefirst"><a href="/{{ row.author }}" class="authornamelink fadein">{{ row.authorname }}</a></h4>
										<h5 class="postauthor postauthorfirst"><a href="/{{ row.author }}" class="authorlink fadein">@{{ row.author }}</a> &nbsp; {{ row.postdate }}</h5>
										<div class="postcontentdiv"><p class="postcontent postcontentfirst">{{ row.content }}</p></div>
										<div class="postmenu">
											<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 1</button>
											<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 0</button>
											<button class="postcomment postmenubuttons fadein" onclick="commentsshow({{ row.pid }})"><i class="fa-solid fa-comment fa-lg"></i></button>
											<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
										</div>
										<div class="postcommentopen i" onclick="commentopen({{ row.pid }});">
											<img class="copenimg" src="static/ConnorFulbright.png">
											<h4 class="copentxt">Engage with post...</h4>
										</div>
										<div class="postcommentwrite i">
											<img class="commentwriteimg" src="static/ConnorFulbright.png">
											<form class="commentform" name="commentform">
												<textarea name="commentinput" class="commentwritetxt" type="text" placeholder="Type here..." maxlength="1000"></textarea>
												<input class="commentsubmit fadein" type="submit" value="Post" onclick="return commentsubmit({{ row.pid }});">
											</form>
											<button class="commentcancel" onclick="commentcancel({{ row.pid }});">Cancel</button>
										</div>
										<div class="commentdiv">
										</div>
									</div>
									{% else %}
									<div class="feedbubble" id="{{ row.pid }}">
										<div class="postimgback"><a href="/{{ row.author }}"><img src="static/ConnorFulbright.png" class="postimg"></a></div>
										<button class="postoptionbutton fadein" onclick="postmenuopen({{ row.pid }});"><i class="fa-solid fa-ellipsis fa-lg"></i></button>
										<div class="postoptionmenu i"></div>
										<h4 class="postauthorname"><a href="/{{ row.author }}" class="authornamelink fadein">{{ row.authorname }}</a></h4>
										<h5 class="postauthor"><a href="/{{ row.author }}" class="authorlink fadein">@{{ row.author }}</a> &nbsp; {{ row.postdate }}</h5>
										<div class="postcontentdiv"><p class="postcontent">{{ row.content }}</p></div>
										<div class="postmenu">
											<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 1</button>
											<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 0</button>
											<button class="postcomment postmenubuttons fadein" onclick="commentsshow({{ row.pid }});"><i class="fa-solid fa-comment fa-lg"></i></button>
											<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
										</div>
											<div class="postcommentopen i" onclick="commentopen({{ row.pid }});">
												<img class="copenimg" src="static/ConnorFulbright.png">
												<h4 class="copentxt">Engage with post...</h4>
											</div>
											<div class="postcommentwrite i">
												<img class="commentwriteimg" src="static/ConnorFulbright.png">
												<form class="commentform" name="commentform">
													<textarea name="commentinput" class="commentwritetxt" type="text" placeholder="Type here..." maxlength="1000"></textarea>
													<input class="commentsubmit fadein" type="submit" value="Post" onclick="return commentsubmit({{ row.pid }});">
												</form>
												<button class="commentcancel" onclick="commentcancel({{ row.pid }});">Cancel</button>
											</div>
											<div class="commentdiv">
											</div>
									</div>
									{% endif %}
								{% endfor %}
							<div class="bottomfeedbubble">
								<button class="feedbacktotop botfeedbuttons fadein" onclick="window.scrollTo(0, 0);">Back to top</button>
								<img src="static/squabblerfavicon.png" class="bottomfeedimg">
								<button class="feedload botfeedbuttons fadein">Load more</button>
							</div>
							{% endif %}

						</div>
						<div id="followingfeeddiv" class="inactivefeed">
							{% if not followingposts %}
							<div class="feedbubble" id="nopostsdiscover">
								<div id="feedmenu">
									<button id="feeddiscover" onclick="feedOpen('feeddiscover')" class="feedmenubuttons closedfeed fadein"><i class="fa-solid fa-earth-asia"></i> Discover</button>
									<button id="feedfollowing" onclick="feedOpen('feedfollowing')" class="feedmenubuttons openfeed fadein"><i class="fa-solid fa-user-group"></i> Following</button>
								</div>
								<div id="firstfeedline"></div>
									<div class="postimgback postimgbackfirst"><img src="static/squabblerfavicon.png" class="postimg"></div>
									<div class="postoptionmenu postoptionmenufirst i"></div>
									<h4 class="postauthorname postauthornamefirst">Squabbler</h4>
									<h5 class="postauthor postauthorfirst">@squabbler</h5>
									<div class="postcontentdiv"><p class="postcontent postcontentfirst">No posts from users that you are following avaliable right now! Follow users that you find controversial and their content will appear here!</p></div>
									<div class="postmenu">
										<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 69</button>
										<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 420</button>
										<button class="postcomment postmenubuttons fadein"><i class="fa-solid fa-comment fa-lg"></i> 0</button>
										<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
									</div>
								</div>
							{% else %}
								{% for row in followingposts %}
									{% if loop.first %}
									<div class="feedbubble" id="{{ row.pid }}">
										<div id="feedmenu">
											<button id="feeddiscover" onclick="feedOpen('feeddiscover')" class="feedmenubuttons closedfeed fadein"><i class="fa-solid fa-earth-asia"></i> Discover</button>
											<button id="feedfollowing" onclick="feedOpen('feedfollowing')" class="feedmenubuttons openfeed fadein"><i class="fa-solid fa-user-group"></i> Following</button>
										</div>
										<div id="firstfeedline"></div>
										<div class="postimgback postimgbackfirst"><a href="/{{ row.author }}"><img src="static/ConnorFulbright.png" class="postimg"></a></div>
										<button class="postoptionbutton postoptionbuttonfirst" onclick="postmenuopen({{ row.pid }});"><i class="fa-solid fa-ellipsis fa-lg"></i></button>
										<div class="postoptionmenu postoptionmenufirst i"></div>
										<h4 class="postauthorname postauthornamefirst"><a href="/{{ row.author }}" class="authornamelink">{{ row.authorname }}</a></h4>
										<h5 class="postauthor postauthorfirst"><a href="/{{ row.author }}" class="authorlink">@{{ row.author }}</a> &nbsp; {{ row.postdate }}</h5>
										<div class="postcontentdiv"><p class="postcontent postcontentfirst">{{ row.content }}</p></div>
										<div class="postmenu">
											<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 1</button>
											<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 0</button>
											<button class="postcomment postmenubuttons fadein" onclick="commentsshow({{ row.pid }});"><i class="fa-solid fa-comment fa-lg"></i></button>
											<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
										</div>
										<div class="postcommentopen i" onclick="commentopen({{ row.pid }});">
											<img class="copenimg" src="static/ConnorFulbright.png">
											<h4 class="copentxt">Engage with post...</h4>
										</div>
										<div class="postcommentwrite i">
											<img class="commentwriteimg" src="static/ConnorFulbright.png">
											<form class="commentform" name="commentform">
												<textarea name="commentinput" class="commentwritetxt" type="text" placeholder="Type here..." maxlength="1000"></textarea>
												<input class="commentsubmit fadein" type="submit" value="Post" onclick="return commentsubmit({{ row.pid }});">
											</form>
											<button class="commentcancel" onclick="commentcancel({{ row.pid }});">Cancel</button>
										</div>
										<div class="commentdiv">
										</div>
									</div>
									{% else %}
									<div class="feedbubble" id="{{ row.pid }}">
										<div class="postimgback"><a href="/{{ row.author }}"><img src="static/ConnorFulbright.png" class="postimg"></a></div>
										<button class="postoptionbutton" onclick="postmenuopen({{ row.pid }});"><i class="fa-solid fa-ellipsis fa-lg"></i></button>
										<div class="postoptionmenu i"></div>
										<h4 class="postauthorname"><a href="/{{ row.author }}" class="authornamelink">{{ row.authorname }}</a></h4>
										<h5 class="postauthor"><a href="/{{ row.author }}" class="authorlink">@{{ row.author }}</a> &nbsp; {{ row.postdate }}</h5>
										<div class="postcontentdiv"><p class="postcontent">{{ row.content }}</p></div>
										<div class="postmenu">
											<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 1</button>
											<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 0</button>
											<button class="postcomment postmenubuttons fadein" onclick="commentsshow({{ row.pid }});"><i class="fa-solid fa-comment fa-lg"></i></button>
											<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
										</div>
											<div class="postcommentopen i" onclick="commentopen({{ row.pid }});">
												<img class="copenimg" src="static/ConnorFulbright.png">
												<h4 class="copentxt">Engage with post...</h4>
											</div>
											<div class="postcommentwrite i">
												<img class="commentwriteimg" src="static/ConnorFulbright.png">
												<form class="commentform" name="commentform">
													<textarea name="commentinput" class="commentwritetxt" type="text" placeholder="Type here..." maxlength="1000"></textarea>
													<input class="commentsubmit fadein" type="submit" value="Post" onclick="return commentsubmit({{ row.pid }});">
												</form>
												<button class="commentcancel" onclick="commentcancel({{ row.pid }});">Cancel</button>
											</div>
											<div class="commentdiv">
											</div>
									</div>
									{% endif %}
								{% endfor %}
							<div class="bottomfeedbubble">
								<button class="feedbacktotop botfeedbuttons fadein" onclick="window.scrollTo(0, 0);">Back to top</button>
								<img src="static/squabblerfavicon.png" class="bottomfeedimg">
								<button class="feedload botfeedbuttons fadein">Load more</button>
							</div>	
							{% endif %}
						</div>
					</div>
				</div>
				{{ stream() }}
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf-8">
	    var socket = io('http://127.0.0.1:5000');
	    socket.on('connect', function() {
	    });

        function commentsubmit(pid) {
        	commentinputdiv = document.getElementById(pid).querySelector('.postcommentwrite');
        	commentinput = commentinputdiv.querySelector('.commentform').querySelector('.commentwritetxt');
        	commentinputopen = document.getElementById(pid).querySelector('.postcommentopen');
            let comment = commentinput.value.trim();
            if (comment.length) {
                socket.emit('handle_comment', {
                    comment: comment,
                    postid: pid,
                })
            }
            commentinputdiv.classList.remove('a');
            commentinputdiv.className += " i";
            commentinputopen.classList.remove('i');
            commentinputopen.className += " a";
            commentinput.value = '';
            let tempbubble = document.createElement('div');
            tempbubble.setAttribute('class','commentbubble');
            tempbubble.innerHTML = "<a href='/{{ username }}'><img src='static/ConnorFulbright.png' class='commentprofimg'></a><h4 class='commentauthor'><a href='/{{ username }}' class='authornamelink fadein'>{{ fullname }}</a></h4><p class='commenttag'><a href='/{{ username }}' class='authorlink fadein'>@{{ username }}</a> &nbsp; Just Now</p><button class='commentoptionbutton fadein'><i class='fa-solid fa-ellipsis fa-lg'></i></button><p class='commentcontent'>"+comment+"</p><div class='postmenu'><button class='postcomment commentreplyopen fadein'><i class='fa-solid fa-reply-all fa-lg'></i></button></div><div class='commentreplydiv i'><div class='replyopendiv' onclick=''><img class='ropenimg' src='static/ConnorFulbright.png'><h5 class='ropentxt'>Reply...</h5></div><button class='hidereplies fadein' onclick='hidereplies(${commentid});''>Hide Replies</button></div>";
            document.getElementById(pid).querySelector('.commentdiv').prepend(tempbubble);
            return false;
        }
	</script>

	<script type="text/javascript" charset="utf-8">
		function get_comments(pid) {
			socket.emit('get_comments', {
				postid: pid
			})
		}

		socket.on('recieve_comments', function (a) {
			var comments = JSON.parse(a);
			console.log(comments);
            for (var i in comments) {
            	let commentid = comments[i].commentid;
            	var commentidactual = 'c' + commentid.toString();
            	let newNode = document.createElement('div');
            	newNode.setAttribute('class','commentbubble');
            	newNode.setAttribute('id', commentidactual);
            	newNode.innerHTML = `
            	<a href="/${comments[i].tag}"><img src="static/ConnorFulbright.png" class="commentprofimg"></a><h4 class="commentauthor"><a href="/${comments[i].tag}" class="authornamelink fadein">${comments[i].author}</a></h4><p class="commenttag"><a href="/${comments[i].tag}" class="authorlink fadein">@${comments[i].tag}</a> &nbsp; ${comments[i].postdate}</p><button class="commentoptionbutton fadein"><i class="fa-solid fa-ellipsis fa-lg"></i></button><p class="commentcontent">${comments[i].content}</p><div class="postmenu"><button class="postcomment commentreplyopen fadein" onclick="repliesshow(${commentid});"><i class="fa-solid fa-reply-all fa-lg"></i></button></div><div class="commentreplydiv i"><div class="replyopendiv a" onclick="replyopen(${commentid});"><img class="ropenimg" src="static/ConnorFulbright.png">
											<h5 class="ropentxt">Reply...</h5></div><div class="replywritediv i"><img class="replywriteimg" src="static/ConnorFulbright.png"><form class="replyform" name="replyform"><textarea name="replyinput" class="replywritetxt" type="text" placeholder="Type here..." maxlength="1000"></textarea><input class="replysubmit" type="submit" value="Post" onclick="return replysubmit(${comments[i].commentid});"></form><button class="replycancel" onclick="replycancel(${commentid});">Cancel</button></div><div class="replydiv"></div><button class="hidereplies fadein" onclick="hidereplies(${commentid});">Hide Replies</button></div>
            	`;
            	document.getElementById(comments[i].postid).querySelector('.commentdiv').appendChild(newNode);
            }
	    });

		function replysubmit(cid) {
			commentid = 'c' + cid;
			comment = document.getElementById(commentid)
        	replyinputdiv = comment.querySelector('.replywritediv');
        	replyinput = replyinputdiv.querySelector('.replyform').querySelector('.replywritetxt');
        	replyinputopen = comment.querySelector('.replyopendiv');
            let reply = replyinput.value.trim();
            if (reply.length) {
                socket.emit('handle_reply', {
                    reply: reply,
                    commentid: cid,
                })
            }
            replyinputdiv.classList.remove('a');
            replyinputdiv.className += " i";
            replyinputopen.classList.remove('i');
            replyinputopen.className += " a";
            replyinput.value = '';
            let tempbubble = document.createElement('div');
            tempbubble.setAttribute('class','replybubble');
            tempbubble.innerHTML = "<a href='/profile'><img src='static/ConnorFulbright.png' class='replyprofimg'></a><h4 class='replyauthor'>{{ fullname }}</h4><p class='replytag'><a href='/profile' class='authorlink fadein'>@{{ username }}</a> &nbsp; Just Now</p><button class='replyoptionbutton fadein'><i class='fa-solid fa-ellipsis fa-lg'></i></button><p class='replycontent'>"+reply+"</p><button class='postcomment commentreplyopen fadein' onclick=''><i class='fa-solid fa-reply-all fa-lg'></i></button>";
            	document.getElementById(commentid).querySelector('.commentreplydiv').querySelector('.replydiv').prepend(tempbubble);
            return false;
        }
	    function get_replies(cid) {
			socket.emit('get_replies', {
				commentid: cid
			})
		}
		socket.on('recieve_replies', function (a) {
			var replies = JSON.parse(a);
			console.log(replies);
			for (var i in replies) {
				let replyid = replies[i].id;
            	var replyidactual = 'r' + replies[i].id;
            	var commentidactual = 'c' + replies[i].commentid;
            	let newReply = document.createElement('div');
            	newReply.setAttribute('class','replybubble');
            	newReply.setAttribute('id', replyidactual);
            	newReply.innerHTML = `<a href="/${replies[i].tag}"><img src="static/ConnorFulbright.png" class="replyprofimg"></a><h4 class="replyauthor">${replies[i].author}</h4><p class="replytag"><a href="/${replies[i].tag}" class="authorlink fadein">@${replies[i].tag}</a> &nbsp; ${replies[i].replydate}</p><button class="replyoptionbutton fadein"><i class="fa-solid fa-ellipsis fa-lg"></i></button><p class="replycontent">${replies[i].content}</p><button class="postcomment commentreplyopen fadein" onclick=""><i class="fa-solid fa-reply-all fa-lg"></i></button>`;
            	document.getElementById(commentidactual).querySelector('.commentreplydiv').querySelector('.replydiv').appendChild(newReply);
			}
		})

	</script>
{% endblock %}