{% extends "base.html" %}
{% block title %}Squabbler | Awaiting Opponent{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/matchmaking.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="header">
<div class="container-fluid" id="headertop"></div>
	<div class="container-fluid" id="subheader">
		<div id="popupmenu">
			<i class="fa-solid fa-bars fa-2x popupbutton" id="popupbuttondiv"></i>
			<div class="dropdown">
				<button id="popupbutton" onclick="myFunction()" class="dropbtn"></button>
			</div>
		</div>
 
		<div id="searchdiv">
			<form>
				<input type="text" id="searchmenu" placeholder="&#xF002; Search Squabbler" style="font-family:FontAwesome, Lato;">
			</form>
		</div>
            
		<img src="static/squabblerfavicon.png" id="squabblerimage" alt="squabbler logo"/>
		<h4 id="headersquab">SQUABBLER</h4>
		<div id="myDropdown" class="dropdown-content">
			<a onclick="infoOpen('smallinfobutton')" id="smallinfobutton"><i class="fa-solid fa-circle-info fa-lg" id="dropdowninfo"></i><span class="linktext">Help</span></a>
			<a href="{{url_for('logout')}}"><i class="fa-solid fa-arrow-right-from-bracket fa-lg" id="dropdownexit"></i><span class="linktext">Cancel Search</span></a>
		</div>
	</div>
        
    <div id="uselessbarlol"></div>
        <div id="currentheadersdiv">
            <div id="currentheadersquab" class="topheaders currentheader">
                <h4 class="currenttabhead">Matchmaking</h4>
                <p class="quote">VERITAS VOS LIBERABIT</p>
            </div>
        </div>
</div>

	<div id="backgroundid" class="container-fluid">

		<div class="container" id="maincontent">
			<div id="smallinfopopup">
				<button id="smallinfopopupclose" onclick="infoinexit()">Close</button>
			</div>
			<div id="matchblock" class="blocks">
				<div id="hostblock">
					<div id="hostbanner"></div>
				</div>
				<div id="hostcontrol"><button id="hostready">Not Ready</button></div>
				<div id="guestblock">
				</div>
				<div id="guestcontrol"><div id="guestready"><h3 id="guestindicator">Not Ready</h3></div></div>
				<div id="infocenter">
				</div>
				<div id="controlcenter">
				</div>
			</div>
		</div>
	</div>
{% endblock %}