{% extends "base.html" %}
{% block title %}Squabbler | Find Squabble{% endblock %}
{% from "macros.html" import stream %}
{% from "macros.html" import headertext with context %}
{% from "macros.html" import headerstuff %}
{% from "macros.html" import mainnav with context %}
{% from "macros.html" import postblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/squabble.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="header">
	{{ headerstuff() }}
    {{ headertext('Squabble', 'VERITAS VOS LIBERABIT')}}
</div>

	<div id="backgroundid" class="container-fluid">

		<div class="container" id="maincontent">
  
			<div id="smallinfopopup">
				<button id="smallinfopopupclose" onclick="infoinexit()">Close</button>
			</div>

            	{{ mainnav(fullname, username) }}
            	
				<div id="squabble">  <!--squabble tab menu content-->
					<div class="blocks" id="squabbleblock">

					<div id="solowrapper">
						<div id="soloinfo" class="infoboxes">
							<div id="soloheaderbackground" class="menuheaderbackgrounds"></div>
							<h2 id="soloheader" class="menuheaders">Solo</h2>
							<p id="solop" class="menup">1v1 Squabble</p>
							<div id="solodisplay" class="displayboxes">
								<i class="fa-solid fa-user fa-9x menuicons" id="soloicon"></i>
							</div>
						</div>
						<div id="solobuttonborder" class="menubuttonborders">
							<a href="{{url_for('solo')}}" id="solobutton" class="menubuttons">Find Solo Squabble</a>
						</div>
					</div>

					<div id="multiwrapper">
						<div id="multiinfo" class="infoboxes">
							<div id="multiheaderbackground" class="menuheaderbackgrounds"></div>
							<h2 id="multiheader" class="menuheaders">Multi</h2>
							<p id="multip" class="menup">Group Squabble</p>
							<div id="multidisplay" class="displayboxes">
								<i class="fa-solid fa-users fa-9x menuicons" id="multiicon"></i>
							</div>
						</div>
						<div id="multibuttonborder" class="menubuttonborders">
							<a href="{{url_for('multi')}}" id="multibutton" class="menubuttons">Find Multi Squabble</a>
						</div>
					</div>

					<div id="createwrapper">
						<div id="createinfo" class="infoboxes">
							<div id="createheaderbackground" class="menuheaderbackgrounds"></div>
							<h2 id="createheader" class="menuheaders">Create</h2>
							<p id="createp" class="menup">Choose your own topic</p>
							<div id="createdisplay" class="displayboxes">
								<i class="fa-solid fa-plus fa-9x menuicons" id="createicon"></i>
							</div>
						</div>
						<div id="createbuttonborder" class="menubuttonborders">
							<a href="{{url_for('create')}}" id="createbutton" class="menubuttons">Create Squabble</a>
						</div>
					</div>
					<div id="spectatelinebackground">
					</div>

					<div id="spectatewrapper">
						<div id="spectatebuttonborder">
							<a href="" id="spectatebutton" class="menubuttons">Enter Public Forum</a> 
						</div>
					</div>
				</div>

				{{ postblock() }}

  			</div> <!--squabble tab menu content end-->

  			{{ stream() }}

		</div>
	</div>
{% endblock %}