{% extends "base.html" %}
{% block title %}Squabbler | Create Squabble{% endblock %}
{% from "macros.html" import stream %}
{% from "macros.html" import headertext with context %}
{% from "macros.html" import headerstuff %}
{% from "macros.html" import altnav with context %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/create.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="header">
	{{ headerstuff() }}
	{{ headertext('Create', 'BRACCAS MEAS VESCIMINI') }}
</div>

	<div id="backgroundid" class="container-fluid">

		<div class="container" id="maincontent">
  
			<div id="smallinfopopup">
				<button id="smallinfopopupclose" onclick="close_small_info()">Close</button>
			</div>

            {{ altnav(userdata.fullname,userdata.username) }}
            
            <div id="menublock" class="blocks">
	            <div id="menu">
					<button id="solomenubutton" onclick="menu_open('solomenubutton')" class="openfeed">Solo</button>
					<button id="multimenubutton" onclick="menu_open('multimenubutton')" class="closedfeed">Multi</button>
				</div>
			</div>
			<div id="createblock" class="blocks">
				<div id="solomenudiv" class="activefeed">
					<h3 id="solomenuhead">Create Solo Squabble</h3>
					<p id="paratext">Not reccomended for the weak of mind.</p>
					<p style="color:red; text-align: center;">{{ msg }}</p>
					<form method="post">
						<input type="text" name="solotitleinput" id="solotitleinput" class="inputbars" placeholder=" Squabble Title">
						<input type="text" name="solodescinput" id="solodescinput" class="inputbars" placeholder=" Description">
					    <div class="multiselect">
					    	<div class="selectBox" onclick="showCheckboxes()">
					      	<select class="inputbars" id="soloallowed">
					        	<option> Set user types allowed</option>
					      	</select>
					      	<div class="overSelect"></div>
					    	</div>
					    	<div id="checkboxes" class="inputbars">
					      	<label for="one">
					        	<input type="checkbox" id="one"/>Anonymous Users</label>
					      	<label for="two">
					        	<input type="checkbox" id="two"/>Basic Users</label>
					      	<label for="three">
					        	<input type="checkbox" id="three"/>Trusted Users</label>
					        <label for="four">
					        	<input type="checkbox" id="four"/>Scholarly Users</label>
					    	</div>
					  	</div>
					  	<div id="solocaptchadiv" class="inputbars"></div>
					  	<input type="submit" id="soloformsubmit" value="Create Squabble">
					</form>
				</div>
				<div id="multimenudiv" class="inactivefeed">
					<h3 id="multimenuhead">Create Multi Squabble</h3>
					<p id="paratext">A good argument can change the mind of a spectator.</p>
					<form action="post">
						<input type="text" name="multititleinput" id="multititleinput" class="inputbars" placeholder=" Squabble Title">
						<input type="text" name="multidescinput" id="multidescinput" class="inputbars" placeholder=" Description">
					    <div class="multiselect">
					    	<div class="selectBox" onclick="showCheckboxes()">
					      	<select class="inputbars" id="multiallowed">
					        	<option> Set user types allowed</option>
					      	</select>
					      	<div class="overSelect"></div>
					    	</div>
					    	<div id="checkboxes" class="inputbars">
					      	<label for="one">
					        	<input type="checkbox" id="one"/>Anonymous Users</label>
					      	<label for="two">
					        	<input type="checkbox" id="two"/>Basic Users</label>
					      	<label for="three">
					        	<input type="checkbox" id="three"/>Trusted Users</label>
					        <label for="four">
					        	<input type="checkbox" id="four"/>Scholarly Users</label>
					    	</div>
					  	</div>
					  	<select class="inputbars" id="multisize">
					  		<option>Choose a room size</option>
					  		<option>3</option>
					  		<option>4</option>
					  		<option>5</option>
					  		<option>6</option>
					  		<option>7</option>
					  		<option>8</option>
					  	</select>
					  	<div id="multicaptchadiv" class="inputbars"></div>
					  	<input type="submit" id="multiformsubmit" value="Create Squabble">
					</form>
				</div>
			</div>
			{{ stream() }}
		</div>
	</div>
{% endblock %}
