{% extends "base.html" %}
{% block title %}Squabbler | Create Squabble{% endblock %}
{% from "macros.html" import stream %}
{% from "macros.html" import headertext with context %}
{% from "macros.html" import headerstuff %}
{% from "macros.html" import altnav with context %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/create.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/feedstyling.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="header">
	{{ headerstuff() }}
	{{ headertext('Create', 'BRACCAS MEAS VESCIMINI') }}
</div>

	<div id="backgroundid" class="container-fluid">

		<div class="container" id="maincontent">
  
			<div id="smallinfopopup">
				<button id="smallinfopopupclose" onclick="close_small_info()">Close</button>
			</div>

            {{ altnav(userdata.fullname,userdata.username) }}
            
			<div id="createblock" class="blocks">
				<div id="solomenudiv" class="activefeed">
					<div id="typemenu">
						<button id="solomenubutton" onclick="menu_open('solomenubutton')" class="feedmenubuttons openfeed fadein">Solo</button>
						<button id="multimenubutton" onclick="menu_open('multimenubutton')" class="feedmenubuttons closedfeed fadein">Multi</button>
					</div>
					<div class="firstfeedline"></div>
					<p style="color:red; text-align: center;">{{ msg }}</p>
					<div id="solo-form-title">
						<i class="fa-solid fa-plus fa-2x" id="plus-sign"></i>
						<h4 id="solo-form-title-text">Create a new Topic</h4>
					</div>
					<form method="post">
						<input type="text" name="solotitleinput" id="solotitleinput" class="inputbars" placeholder=" Topic Title">
						<select name="solo-channel-input" id="solo-channel-input" class="inputbars" placeholder=" Description">
							<option value="politics">Politics</option>
							<option value="religion">Religion</option>
							<option value="popculture">Popular Culture</option>
							<option value="science">Science</option>
							<option value="other">Other</option>
						</select>
						<input type="text" name="solo-subject-input" id="solo-subject-input" class="inputbars" placeholder=" Subject">
						<textarea name="solodescinput" id="solodescinput" class="inputbars" placeholder=" Description"></textarea>
						
					  	<div id="solocaptchadiv" class="inputbars"></div>
					  	<input type="submit" id="soloformsubmit" value="Create Squabble">
					</form>
				</div>
				<div id="multimenudiv" class="inactivefeed">
					<div id="typemenu">
						<button id="solomenubutton" onclick="menu_open('solomenubutton')" class="closedfeed fadein">Solo</button>
						<button id="multimenubutton" onclick="menu_open('multimenubutton')" class="openfeed fadein">Multi</button>
					</div>
					<div class="firstfeedline"></div>
					<form action="post">
						<input type="text" name="multititleinput" id="multititleinput" class="inputbars" placeholder=" Squabble Title">
						<input type="text" name="multidescinput" id="multidescinput" class="inputbars" placeholder=" Description">
					  	<select class="inputbars" id="multisize">
					  		<option>Choose a room size</option>
					  		<option>3</option>
					  		<option>4</option>
					  		<option>5</option>
					  		<option>6</option>
					  		<option>7</option>
					  		<option>8</option>
					  	</select>
					  	<div id="multicaptchadiv" class="inputbars"></div>
					  	<input type="submit" id="multiformsubmit" value="Create Squabble">
					</form>
				</div>
			</div>
			{{ stream() }}
		</div>
	</div>
{% endblock %}
