{% extends "base.html" %}
{% block title %}Squabbler | {{ otherusername }}{% endblock %}
{% from "macros.html" import stream %}
{% from "macros.html" import headertext with context %}
{% from "macros.html" import headerstuff %}
{% from "macros.html" import mainnav with context %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/otherprofiles.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="header">
	{{ headerstuff() }}
    {{ headertext(othername, 'NIMIUM NE CREDE COLORI') }}
</div>

	<div id="backgroundid" class="container-fluid">

		<div class="container" id="maincontent">
  
			<div id="smallinfopopup">
				<button id="smallinfopopupclose" onclick="close_small_info()">Close</button>
			</div>

            {{ mainnav(fullname,username) }}
          
  			<div id="profile">
                <div class="blocks" id="profileblock">
                    <img src="static/connormaddieback.jpg" id="profilebackgroundimg">
                    <div id="profilebackgroundimgspace"><img src="static/ConnorFulbright.png" id="profbackimg"></div>
                    <div id="profiledisplay" class="profileeditactive">
                        <h4 id="profname">{{ othername }}</h4>
                        <p id="proftag">@{{ otherusername }}</p>
                        <p id="proffollowers"><span id="followernumber" style="color: black; font-weight: bold;">{{ otherfollowers }}</span><span style="color: gray;"> Followers</span></p>
                        <p id="proffollowing"><span id="followingnumber" style="color: black; font-weight: bold;">{{ otherfollowing }}</span><span style="color: gray;"> Following</span></p>
                        <a href="https://{{ site }}" id="profsite">{{ othersite }}</a>
                        <p id="profdesc">{{ otherdesc }}</p>
                    </div>
                    <button id="editprofbutton" class="editprofbutclose fadein">Follow</button>
                
                </div>
            <div id="wrapperfeeddiv" class="feeddiv">
						<div id="discoverfeeddiv" class="activefeed">
							{% if not posts %}
							<div class="feedbubble" id="nopostsdiscover">
								<div id="feedmenu">
									<button id="feeddiscover" onclick="feedOpen('feeddiscover')" class="feedmenubuttons openfeed fadein"><i class="fa-solid fa-comments"></i> Posts</button>
									<button id="feedfollowing" onclick="feedOpen('feedfollowing')" class="feedmenubuttons closedfeed fadein"><i class="fa-solid fa-at"></i> Mentions</button>
								</div>
								<div id="firstfeedline"></div>
									<div class="postimgback postimgbackfirst"><img src="static/squabblerfavicon.png" class="postimg"></div>
									<div class="postoptionmenu postoptionmenufirst i"></div>
									<h4 class="postauthorname postauthornamefirst">Squabbler</h4>
									<h5 class="postauthor postauthorfirst">@squabbler</h5>
									<div class="postcontentdiv"><p class="postcontent postcontentfirst">{{ othername }} has not posted anything yet. Encourage them to engage in conversation!</p></div>
									<div class="postmenu">
										<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 69</button>
										<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 420</button>
										<button class="postcomment postmenubuttons fadein"><i class="fa-solid fa-comment fa-lg"></i></button>
										<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
									</div>
								</div>
							{% else %}
								{% for row in posts %}
									{% if loop.first %}
									<div class="feedbubble" id="{{ row.pid }}">
										<div id="feedmenu">
											<button id="feeddiscover" onclick="feedOpen('feeddiscover')" class="feedmenubuttons openfeed fadein"><i class="fa-solid fa-comments"></i> Posts</button>
											<button id="feedfollowing" onclick="feedOpen('feedfollowing')" class="feedmenubuttons closedfeed fadein"><i class="fa-solid fa-at"></i> Mentions</button>
										</div>
									<div id="firstfeedline"></div>
										<div class="postimgback postimgbackfirst"><a href="/{{ row.author }}"><img src="static/ConnorFulbright.png" class="postimg"></a></div>
										<button class="postoptionbutton postoptionbuttonfirst" onclick="postmenuopen({{ row.pid }});"><i class="fa-solid fa-ellipsis fa-lg"></i></button>
										<div class="postoptionmenu postoptionmenufirst i"></div>
										<h4 class="postauthorname postauthornamefirst"><a href="/{{ row.author }}" class="authornamelink">{{ row.authorname }}</a></h4>
										<h5 class="postauthor postauthorfirst"><a href="/{{ row.author }}" class="authorlink">@{{ row.author }}</a> &nbsp; {{ row.postdate }}</h5>
										<div class="postcontentdiv"><p class="postcontent postcontentfirst">{{ row.content }}</p></div>
										<div class="postmenu">
											<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 1</button>
											<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 0</button>
											<button class="postcomment postmenubuttons fadein" onclick="commentsshow({{ row.pid }});"><i class="fa-solid fa-comment fa-lg"></i></button>
											<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
										</div>
											<div class="postcommentopen i" onclick="commentopen({{ row.pid }});">
												<img class="copenimg" src="static/ConnorFulbright.png">
												<h4 class="copentxt">Engage with post...</h4>
											</div>
											<div class="postcommentwrite i">
												<img class="commentwriteimg" src="static/ConnorFulbright.png">
												<form id="commentform" name="commentform">
													<textarea id="commentinput" name="commentinput" class="commentwritetxt" type="text" placeholder="Type here..." maxlength="1000"></textarea>
													<input class="commentsubmit fadein" type="submit" value="Post">
												</form>
												<button class="commentcancel" onclick="commentcancel({{ row.pid }});">Cancel</button>
											</div>
									</div>
									{% else %}
									<div class="feedbubble" id="{{ row.pid }}">
										<div class="postimgback"><a href="/{{ row.author }}"><img src="static/ConnorFulbright.png" class="postimg"></a></div>
										<button class="postoptionbutton" onclick="postmenuopen({{ row.pid }});"><i class="fa-solid fa-ellipsis fa-lg"></i></button>
										<div class="postoptionmenu i"></div>
										<h4 class="postauthorname"><a href="/{{ row.author }}" class="authornamelink">{{ row.authorname }}</a></h4>
										<h5 class="postauthor"><a href="/{{ row.author }}" class="authorlink">@{{ row.author }}</a> &nbsp; {{ row.postdate }}</h5>
										<div class="postcontentdiv"><p class="postcontent">{{ row.content }}</p></div>
										<div class="postmenu">
											<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 1</button>
											<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 0</button>
											<button class="postcomment postmenubuttons fadein" onclick="commentsshow({{ row.pid }});"><i class="fa-solid fa-comment fa-lg"></i></button>
											<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
										</div>
											<div class="postcommentopen i" onclick="commentopen({{ row.pid }});">
												<img class="copenimg" src="static/ConnorFulbright.png">
												<h4 class="copentxt">Engage with post...</h4>
											</div>
											<div class="postcommentwrite i">
												<img class="commentwriteimg" src="static/ConnorFulbright.png">
												<form id="commentform" name="commentform">
													<textarea id="commentinput" name="commentinput" class="commentwritetxt" type="text" placeholder="Type here..." maxlength="1000"></textarea>
													<input class="commentsubmit fadein" type="submit" value="Post">
												</form>
												<button class="commentcancel" onclick="commentcancel({{ row.pid }});">Cancel</button>
											</div>
									</div>
									{% endif %}
								{% endfor %}
							<div class="bottomfeedbubble">
								<button class="feedbacktotop botfeedbuttons fadein" onclick="window.scrollTo(0, 0);">Back to top</button>
								<img src="static/squabblerfavicon.png" class="bottomfeedimg">
								<button class="feedload botfeedbuttons fadein">Load more</button>
							</div>
							{% endif %}

						</div>
						<div id="followingfeeddiv" class="inactivefeed">
							{% if not posts %}
							<div class="feedbubble" id="nopostsdiscover">
								<div id="feedmenu">
									<button id="feeddiscover" onclick="feedOpen('feeddiscover')" class="feedmenubuttons closedfeed fadein"><i class="fa-solid fa-comments"></i> Posts</button>
									<button id="feedfollowing" onclick="feedOpen('feedfollowing')" class="feedmenubuttons openfeed fadein"><i class="fa-solid fa-at"></i> Mentions</button>
								</div>
								<div id="firstfeedline"></div>
									<div class="postimgback postimgbackfirst"><img src="static/squabblerfavicon.png" class="postimg"></div>
									<div class="postoptionmenu postoptionmenufirst i"></div>
									<h4 class="postauthorname postauthornamefirst">Squabbler</h4>
									<h5 class="postauthor postauthorfirst">@squabbler</h5>
									<div class="postcontentdiv"><p class="postcontent postcontentfirst">{{ othername }} has not been mentioned yet. Tag them in a post!</p></div>
									<div class="postmenu">
										<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 69</button>
										<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 420</button>
										<button class="postcomment postmenubuttons fadein"><i class="fa-solid fa-comment fa-lg"></i></button>
										<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
									</div>
								</div>
							{% else %}
								{% for row in posts %}
									{% if loop.first %}
									<div class="feedbubble" id="{{ row.pid }}">
										<div id="feedmenu">
											<button id="feeddiscover" onclick="feedOpen('feeddiscover')" class="feedmenubuttons closedfeed fadein"><i class="fa-solid fa-comments"></i> Posts</button>
											<button id="feedfollowing" onclick="feedOpen('feedfollowing')" class="feedmenubuttons openfeed fadein"><i class="fa-solid fa-at"></i> Mentions</button>
										</div>
									<div id="firstfeedline"></div>
										<div class="postimgback postimgbackfirst"><a href="/{{ row.author }}"><img src="static/ConnorFulbright.png" class="postimg"></a></div>
										<button class="postoptionbutton postoptionbuttonfirst" onclick="postmenuopen({{ row.pid }});"><i class="fa-solid fa-ellipsis fa-lg"></i></button>
										<div class="postoptionmenu postoptionmenufirst i"></div>
										<h4 class="postauthorname postauthornamefirst"><a href="/{{ row.author }}" class="authornamelink">{{ row.authorname }}</a></h4>
										<h5 class="postauthor postauthorfirst"><a href="/{{ row.author }}" class="authorlink">@{{ row.author }}</a> &nbsp; {{ row.postdate }}</h5>
										<div class="postcontentdiv"><p class="postcontent postcontentfirst">{{ row.content }}</p></div>
										<div class="postmenu">
											<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 1</button>
											<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 0</button>
											<button class="postcomment postmenubuttons fadein" onclick="commentsshow({{ row.pid }});"><i class="fa-solid fa-comment fa-lg"></i></button>
											<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
										</div>
											<div class="postcommentopen i" onclick="commentopen({{ row.pid }});">
												<img class="copenimg" src="static/ConnorFulbright.png">
												<h4 class="copentxt">Engage with post...</h4>
											</div>
											<div class="postcommentwrite i">
												<img class="commentwriteimg" src="static/ConnorFulbright.png">
												<form id="commentform" name="commentform">
													<textarea id="commentinput" name="commentinput" class="commentwritetxt" type="text" placeholder="Type here..." maxlength="1000"></textarea>
													<input class="commentsubmit fadein" type="submit" value="Post">
												</form>
												<button class="commentcancel" onclick="commentcancel({{ row.pid }});">Cancel</button>
											</div>
									</div>
									{% else %}
									<div class="feedbubble" id="{{ row.pid }}">
										<div class="postimgback"><a href="/{{ row.author }}"><img src="static/ConnorFulbright.png" class="postimg"></a></div>
										<button class="postoptionbutton" onclick="postmenuopen({{ row.pid }});"><i class="fa-solid fa-ellipsis fa-lg"></i></button>
										<div class="postoptionmenu i"></div>
										<h4 class="postauthorname"><a href="/{{ row.author }}" class="authornamelink">{{ row.authorname }}</a></h4>
										<h5 class="postauthor"><a href="/{{ row.author }}" class="authorlink">@{{ row.author }}</a> &nbsp; {{ row.postdate }}</h5>
										<div class="postcontentdiv"><p class="postcontent">{{ row.content }}</p></div>
										<div class="postmenu">
											<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 1</button>
											<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 0</button>
											<button class="postcomment postmenubuttons fadein" onclick="commentsshow({{ row.pid }});"><i class="fa-solid fa-comment fa-lg"></i> 22</button>
											<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
										</div>
											<div class="postcommentopen i" onclick="commentopen({{ row.pid }});">
												<img class="copenimg" src="static/ConnorFulbright.png">
												<h4 class="copentxt">Engage with post...</h4>
											</div>
											<div class="postcommentwrite i">
												<img class="commentwriteimg" src="static/ConnorFulbright.png">
												<form id="commentform" name="commentform">
													<textarea id="commentinput" name="commentinput" class="commentwritetxt" type="text" placeholder="Type here..." maxlength="1000"></textarea>
													<input class="commentsubmit fadein" type="submit" value="Post">
												</form>
												<button class="commentcancel" onclick="commentcancel({{ row.pid }});">Cancel</button>
											</div>
									</div>
									{% endif %}
								{% endfor %}
							<div class="bottomfeedbubble">
								<button class="feedbacktotop botfeedbuttons fadein" onclick="window.scrollTo(0, 0);">Back to top</button>
								<img src="static/squabblerfavicon.png" class="bottomfeedimg">
								<button class="feedload botfeedbuttons fadein">Load more</button>
							</div>
							{% endif %}
						</div>
					</div>
            </div>
            {{ stream() }}
		</div>
	</div>
{% endblock %}