{% extends "base.html" %}
{% block title %}Squabbler | Profile{% endblock %}
{% from "macros.html" import stream %}
{% from "macros.html" import headertext with context %}
{% from "macros.html" import headerstuff %}
{% from "macros.html" import mainnav with context %}
{% from "macros.html" import postblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="header">

	{{ headerstuff() }}
	{{ headertext('Profile', 'NIMIUM NE CREDE COLORI') }}

</div>

	<div id="backgroundid" class="container-fluid">

		<div class="container" id="maincontent">
  
			<div id="smallinfopopup">
				<button id="smallinfopopupclose" onclick="close_small_info()">Close</button>
			</div>

			{% with errormsgs = get_flashed_messages(category_filter=["errormsg"]) %}
            	{% if errormsgs %}
            		{% for message in errormsgs %}
            			<div class="alertpopup" id="errorpopup"><h4 class="alertmessage errormsg">{{ message }}</h4><p class="msgpara">Please try a different tag.</p><i id="erroricon" class="fa-solid fa-user-xmark fa-5x"></i><button class="alertpopupclose" id="errorbtn" onclick="errorclose()">Close</button></div>
            		{% endfor %}
            	{% endif %}
            {% endwith %}

            {% with successmsgs = get_flashed_messages(category_filter=["successmsg"]) %}
            	{% if successmsgs %}
            		{% for message in successmsgs %}
            			<div class="alertpopup" id="successpopup"><h4 class="alertmessage successmsg">{{ message }}</h4><p class="msgpara">All changes have been saved.</p><i id="successicon" class="fa-solid fa-user-check fa-5x"></i><button class="alertpopupclose" id="successbtn" onclick="success_close()">Close</button></div>
            		{% endfor %}
            	{% endif %}
            {% endwith %}

            {{ mainnav(fullname,username) }}
          
  			<div id="profile" class="tabcontent"> <!--profile tab menu content-->
                <div class="blocks" id="profileblock">
                    <img src="static/connormaddieback.jpg" id="profilebackgroundimg">
                    <div id="profilebackgroundimgspace"><img src="static/ConnorFulbright.png" id="profbackimg"></div>
                    <div id="profiledisplay" class="profileeditactive">
                        <h4 id="profname">{{ fullname }}</h4>
                        <p id="proftag">@{{ username }}</p>
                        <p id="proffollowers"><span id="followernumber" style="color: black; font-weight: bold;">{{ followers }}</span><span style="color: gray;"> Followers</span></p>
                        <p id="proffollowing"><span id="followingnumber" style="color: black; font-weight: bold;">{{ following }}</span><span style="color: gray;"> Following</span></p>
                        <a href="https://{{ site }}" id="profsite">{{ site }}</a>
                        <p id="profdesc">{{ desc }}</p>
                    </div>
                    <button id="editprofbutton" class="editprofbutclose fadein" onclick="profileedit();">Edit Profile</button>
                
                    <div id="profileedit" class="profileeditinactive">
                        <form id="changeprofform" method="post">
                            <label for="changeprofimg">
                                <i class="fa-solid fa-camera fa-3x" id="changebannericon"></i>
                                <div id="changebannerback"></div>
                            </label>
                            <label for="changebanner">
                                <i class="fa-solid fa-camera fa-2x" id="changeprofimgicon"></i>
                                <div id="changeprofimgback"></div>
                            </label>
                            <input type="file" id="changebanner" style="display: none;">
                            <input type="file" id="changeprofimg" style="display: none;">
                            <h4 id="nametxt" class="edittxts">Profile Name</h4>
                            <input type="text" id="changename" name="changename" class="changeinputs">
                            <h4 id="usertxt" class="edittxts">Username</h4>
                            <input type="text" id="changeuser" name="changeuser" class="changeinputs">
                            <h4 id="sitetxt" class="edittxts">Website</h4>
                            <input type="text" id="changesite" name="changesite" class="changeinputs">
                            <h4 id="desctxt" class="edittxts">Description</h4>
                            <textarea id="changedesc" name="changedesc" class="changeinputs"></textarea>
                            <input type="submit" id="saveprofedit" value="Save">
                        </form>
                    </div>
                </div>
                
                {{ postblock() }}

            </div> <!--profile tab menu content end-->
            <div id="wrapperfeeddiv" class="feeddiv">
						<div id="discoverfeeddiv" class="activefeed">
							{% if not posts %}
							<div class="feedbubble" id="nopostsdiscover">
								<div id="feedmenu">
									<button id="feeddiscover" onclick="feedOpen('feeddiscover')" class="feedmenubuttons openfeed fadein"><i class="fa-solid fa-comments"></i> Posts</button>
									<button id="feedfollowing" onclick="feedOpen('feedfollowing')" class="feedmenubuttons closedfeed fadein"><i class="fa-solid fa-at"></i> Mentions</button>
								</div>
								<div id="firstfeedline"></div>
									<div class="postimgback postimgbackfirst"><img src="static/squabblerfavicon.png" class="postimg"></div>
									<div class="postoptionmenu postoptionmenufirst i"></div>
									<h4 class="postauthorname postauthornamefirst">Squabbler</h4>
									<h5 class="postauthor postauthorfirst">@squabbler</h5>
									<div class="postcontentdiv"><p class="postcontent postcontentfirst">No posts yet! Post something and it will appear here!</p></div>
									<div class="postmenu">
										<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 69</button>
										<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 420</button>
										<button class="postcomment postmenubuttons fadein"><i class="fa-solid fa-comment fa-lg"></i></button>
										<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
									</div>
								</div>
							{% else %}
								{% for row in posts %}
									{% if loop.first %}
										
									{% else %}
									<div class="feedbubble" id="{{ row.pid }}">
										<div class="postimgback"><a href="/{{ row.author }}"><img src="static/ConnorFulbright.png" class="postimg"></a></div>
										<button class="postoptionbutton" onclick="postmenuopen({{ row.pid }});"><i class="fa-solid fa-ellipsis fa-lg"></i></button>
										<div class="postoptionmenu i"></div>
										<h4 class="postauthorname"><a href="/{{ row.author }}" class="authornamelink">{{ row.authorname }}</a></h4>
										<h5 class="postauthor"><a href="/{{ row.author }}" class="authorlink">@{{ row.author }}</a> &nbsp; {{ row.postdate }}</h5>
										<div class="postcontentdiv"><p class="postcontent">{{ row.content }}</p></div>
										<div class="postmenu">
											<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 1</button>
											<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 0</button>
											<button class="postcomment postmenubuttons fadein" onclick="commentsshow({{ row.pid }});"><i class="fa-solid fa-comment fa-lg"></i></button>
											<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
										</div>
											<div class="postcommentopen i" onclick="commentopen({{ row.pid }});">
												<img class="copenimg" src="static/ConnorFulbright.png">
												<h4 class="copentxt">Engage with post...</h4>
											</div>
											<div class="postcommentwrite i">
												<img class="commentwriteimg" src="static/ConnorFulbright.png">
												<form id="commentform" name="commentform">
													<textarea id="commentinput" name="commentinput" class="commentwritetxt" type="text" placeholder="Type here..." maxlength="1000"></textarea>
													<input class="commentsubmit fadein" type="submit" value="Post">
												</form>
												<button class="commentcancel" onclick="commentcancel({{ row.pid }});">Cancel</button>
											</div>
									</div>
									{% endif %}
								{% endfor %}
							<div class="bottomfeedbubble">
								<button class="feedbacktotop botfeedbuttons fadein" onclick="window.scrollTo(0, 0);">Back to top</button>
								<img src="static/squabblerfavicon.png" class="bottomfeedimg">
								<button class="feedload botfeedbuttons fadein">Load more</button>
							</div>
							{% endif %}

						</div>
						<div id="followingfeeddiv" class="inactivefeed">
							{% if not posts %}
							<div class="feedbubble" id="nopostsdiscover">
								<div id="feedmenu">
									<button id="feeddiscover" onclick="feedOpen('feeddiscover')" class="feedmenubuttons closedfeed fadein"><i class="fa-solid fa-comments"></i> Posts</button>
									<button id="feedfollowing" onclick="feedOpen('feedfollowing')" class="feedmenubuttons openfeed fadein"><i class="fa-solid fa-at"></i> Mentions</button>
								</div>
								<div id="firstfeedline"></div>
									<div class="postimgback postimgbackfirst"><img src="static/squabblerfavicon.png" class="postimg"></div>
									<div class="postoptionmenu postoptionmenufirst i"></div>
									<h4 class="postauthorname postauthornamefirst">Squabbler</h4>
									<h5 class="postauthor postauthorfirst">@squabbler</h5>
									<div class="postcontentdiv"><p class="postcontent postcontentfirst">No mentions yet! Engage with the community to be mentioned!</p></div>
									<div class="postmenu">
										<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 69</button>
										<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 420</button>
										<button class="postcomment postmenubuttons fadein"><i class="fa-solid fa-comment fa-lg"></i></button>
										<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
									</div>
								</div>
							{% else %}
								{% for row in posts %}
									{% if loop.first %}
									<div class="feedbubble" id="{{ row.pid }}">
										<div id="feedmenu">
											<button id="feeddiscover" onclick="feedOpen('feeddiscover')" class="feedmenubuttons closedfeed fadein"><i class="fa-solid fa-comments"></i> Posts</button>
											<button id="feedfollowing" onclick="feedOpen('feedfollowing')" class="feedmenubuttons openfeed fadein"><i class="fa-solid fa-at"></i> Mentions</button>
										</div>
									<div id="firstfeedline"></div>
										<div class="postimgback postimgbackfirst"><a href="/{{ row.author }}"><img src="static/ConnorFulbright.png" class="postimg"></a></div>
										<button class="postoptionbutton postoptionbuttonfirst" onclick="postmenuopen({{ row.pid }});"><i class="fa-solid fa-ellipsis fa-lg"></i></button>
										<div class="postoptionmenu postoptionmenufirst i"></div>
										<h4 class="postauthorname postauthornamefirst"><a href="/{{ row.author }}" class="authornamelink">{{ row.authorname }}</a></h4>
										<h5 class="postauthor postauthorfirst"><a href="/{{ row.author }}" class="authorlink">@{{ row.author }}</a> &nbsp; {{ row.postdate }}</h5>
										<div class="postcontentdiv"><p class="postcontent postcontentfirst">{{ row.content }}</p></div>
										<div class="postmenu">
											<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 1</button>
											<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 0</button>
											<button class="postcomment postmenubuttons fadein" onclick="commentsshow({{ row.pid }});"><i class="fa-solid fa-comment fa-lg"></i></button>
											<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
										</div>
											<div class="postcommentopen i" onclick="commentopen({{ row.pid }});">
												<img class="copenimg" src="static/ConnorFulbright.png">
												<h4 class="copentxt">Engage with post...</h4>
											</div>
											<div class="postcommentwrite i">
												<img class="commentwriteimg" src="static/ConnorFulbright.png">
												<form id="commentform" name="commentform">
													<textarea id="commentinput" name="commentinput" class="commentwritetxt" type="text" placeholder="Type here..." maxlength="1000"></textarea>
													<input class="commentsubmit fadein" type="submit" value="Post">
												</form>
												<button class="commentcancel" onclick="commentcancel({{ row.pid }});">Cancel</button>
											</div>
									</div>
									{% else %}
									<div class="feedbubble" id="{{ row.pid }}">
										<div class="postimgback"><a href="/{{ row.author }}"><img src="static/ConnorFulbright.png" class="postimg"></a></div>
										<button class="postoptionbutton" onclick="postmenuopen({{ row.pid }});"><i class="fa-solid fa-ellipsis fa-lg"></i></button>
										<div class="postoptionmenu i"></div>
										<h4 class="postauthorname"><a href="/{{ row.author }}" class="authornamelink">{{ row.authorname }}</a></h4>
										<h5 class="postauthor"><a href="/{{ row.author }}" class="authorlink">@{{ row.author }}</a> &nbsp; {{ row.postdate }}</h5>
										<div class="postcontentdiv"><p class="postcontent">{{ row.content }}</p></div>
										<div class="postmenu">
											<button class="postupvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-up fa-lg"></i> 1</button>
											<button class="postdownvote postmenubuttons fadein"><i class="fa-solid fa-thumbs-down fa-lg"></i> 0</button>
											<button class="postcomment postmenubuttons fadein" onclick="commentsshow({{ row.pid }});"><i class="fa-solid fa-comment fa-lg"></i> 22</button>
											<button class="postshare postmenubuttons fadein"><i class="fa-solid fa-share fa-lg"></i></button>
										</div>
											<div class="postcommentopen i" onclick="commentopen({{ row.pid }});">
												<img class="copenimg" src="static/ConnorFulbright.png">
												<h4 class="copentxt">Engage with post...</h4>
											</div>
											<div class="postcommentwrite i">
												<img class="commentwriteimg" src="static/ConnorFulbright.png">
												<form id="commentform" name="commentform">
													<textarea id="commentinput" name="commentinput" class="commentwritetxt" type="text" placeholder="Type here..." maxlength="1000"></textarea>
													<input class="commentsubmit fadein" type="submit" value="Post">
												</form>
												<button class="commentcancel" onclick="commentcancel({{ row.pid }});">Cancel</button>
											</div>
									</div>
									{% endif %}
								{% endfor %}
							<div class="bottomfeedbubble">
								<button class="feedbacktotop botfeedbuttons fadein" onclick="window.scrollTo(0, 0);">Back to top</button>
								<img src="static/squabblerfavicon.png" class="bottomfeedimg">
								<button class="feedload botfeedbuttons fadein">Load more</button>
							</div>
							{% endif %}
						</div>

				</div>
				{{ stream() }}
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf-8">
	    var socket = io('http://127.0.0.1:5000');
	    socket.on('connect', function() {
	    });

	    function post_submit() {
			let posttext = document.getElementById('posttextsquab');
			let content = posttext.value;
			socket.emit('handle_post', {
				content: content
			});
			posttext.value = '';
			return false;
		}

	</script>
{% endblock %}