{% extends "base.html" %}
{% block title %}Squabbler | Find Solo Squabble{% endblock %}
{% from "macros.html" import stream %}
{% from "macros.html" import headertext with context %}
{% from "macros.html" import headerstuff %}
{% from "macros.html" import altnav with context %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/solo.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="header">
	{{ headerstuff() }}
	{{ headertext('Solo Squabbles', 'BRACCAS MEAS VESCIMINI') }}
</div>

	<div id="backgroundid" class="container-fluid">

		<div class="container" id="maincontent">
  
			<div id="smallinfopopup">
				<button id="smallinfopopupclose" onclick="infoinexit()">Close</button>
			</div>

            {{ altnav(userdata.fullname,userdata.username) }}

			<div id="solo" class="tabcontent">
				<div id="soloblock" class="blocks">
					<input type="text" class="squabblesearch" id="solosearch" placeholder="&#xF002; Search by topic title" style="font-family:FontAwesome, Lato;">
				</div>
				<div id="solosideblock" class="sideblocks">
					<select name="squabbletypesolo" id="squabbletypesolo" class="squabbletype">
						<option value="Any">Any</option>
						<option value="Anonymous">Anonymous Users</option>
						<option value="Basic">Basic Users</option>
						<option value="Trusted">Trusted Users</option>
						<option value="Scholars">Scholars</option>
					</select>
					<input type="submit" id="solosubmit" class="squabblesubmit" value="Search">
				</div>
				<div id="solodiv" class="squabbledivs">
					<div id="soloinnerdiv">
						<div class="squabblebubbles"></div>
						<div class="squabblebubbles"></div>
						<div class="squabblebubbles"></div>
						<div class="squabblebubbles"></div>
					</div>
					<div class="bottomfeedbubble">
						<button class="feedbacktotop botfeedbuttons fadein" onclick="window.scrollTo(0, 0);">Back to top</button>
						<img src="static/squabblerfavicon.png" class="bottomfeedimg">
						<button class="feedload botfeedbuttons fadein">Load more</button>
					</div>
				</div>
			</div>
			{{ stream() }}
		</div>
	</div>
{% endblock %}