{% extends "base.html" %}
{% block title %}Squabbler | Finding Opponent{% endblock %}
{% from "macros.html" import headerstuff %}
{% from "macros.html" import headertext with context %}
{% from "macros.html" import altnav with context %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/waitingroom.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="header">
	{{ headerstuff() }}
	{{ headertext('Waiting Room', 'ICH BIN EIN BERLINER') }}
</div>

	<div id="backgroundid" class="container-fluid">

		<div class="container" id="maincontent">
  
			<div id="smallinfopopup">
				<button id="smallinfopopupclose" onclick="infoinexit()">Close</button>
			</div>

            {{ altnav(fullname,username) }}

            <div id="waitingblock" class="blocks">
            	<h3 id="challengerhead">John Squabbler</h3>
            	<p id="opponenttag">@johnsquabbler</p>
            	<p id="challengerdesc">This is a testing description for my challenger description. Im hoping that I wont have to extend my paragraph because its a pain to keep extending. However I did end up having to extend it lol.</p>
            	<div id="opponenthead"><h2 id="opponentname">Challenger</h2></div>
            	<div id="opponentcircle"><img src="static/johnsquabbler.jpg" id="opponentprofimg"></div>
            	<div id="opponentline"></div>
            	<button id="viewmorechallenger">View Full Profile</button>
            	<div id="halfline"></div>
            	<div id="hostmenu">
            		<div id="readyuptop"><div id="readyupin"></div></div>
            		<button id="readyupbutton">Ready!</button>
            	</div>
            	<div id="hosthead"><h2 id="hostname">Proponent</h2></div>
            	<div id="hostcircle"><img src="static/ConnorFulbright.png" id="hostprofimg"></div>
            	<div id="hostline"></div>
            </div>
			<div id="roominfo"></div>
		</div>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
	const socket = io.connect("http://127.0.0.1:5000");
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
{% endblock %}