.noselect {
	pointer-events: none;
    user-select: none;
}

body {
	font-family: 'Lato', sans-serif;
}

#backgroundid {
	background-color: whitesmoke;
	min-height: 600px;
}

#header {
	border: 0px solid black;
	background-color: white;
	width: 100%;
	height: 70px;
	position: fixed;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
	z-index: 8;
}

#subheader {
	border: 0px solid black;
	width: 100%;
	height: 70px;
	position: relative;
}

#searchmenu {
	border: none;
	border-radius: 6px;
	background-color: lightgray;
	color: black;
	opacity: 0.7;
	width: 250px;
	height: 45px;
	position: absolute;
	top: 12px;
	left: 78px;
	font-size: 16px;
	outline: none;

}

#squabblerimage {
	position: absolute;
	top: 4px;
	right: 116px;
	height: 60px;
	width: 60px;
	filter: drop-shadow(1px 1px 1px #f95288) brightness(112%);
}

#headersquab {
	top: 16px;
	right: 10px;
	position: absolute;
	font-weight: bold;
	color: #f95288;
	filter: drop-shadow(0.75px 0.75px 0.75px #f95288) brightness(112%);
}

#uselessbarlol {
    position: absolute;
    width: 5px;
    height: 50px;
    border-radius: 6px;
    filter: drop-shadow(0.75px 0.75px 0.75px #f95288) brightness(112%);
    background-color: #f95288;
    z-index: 9;
    top: 9px;
    left: 365px
}

.currenttabhead {
    position: absolute;
    color: #f95288;
    font-weight: bold;
    filter: drop-shadow(0.25px 0.25px 0.25px #f95288) brightness(112%);
    z-index: 9;
    top: 8px;
    left: 385px;
    font-size: 20px;
}

/** transition effects **/

.fadein {
	-moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.ffadein {
	-moz-transition: all .05s ease-in;
    -o-transition: all .05s ease-in;
    -webkit-transition: all .05s ease-in;
    transition: all .05s ease-in;
}


.topheaders {
    display: none;
}

.currentheader {
    display: block;
}

.quote {
	position: absolute;
    z-index: 9;
    top: 43px;
    left: 390px;
	color: darkgray;
    font-size: 12px;
}

/*******dropdown*****/
.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  min-width: 197px;
  text-decoration: none;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
  z-index: 9;
  left: 42px;
  top: 70px;
  color: gray;
  border-radius: 6px;
}

#logoutmenubutton:hover {
	cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: gray;
  padding: 17px 16px;
  font-weight: bold;
  font-size: 15px;
  display: block;
  z-index: 8;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
	text-decoration: none;
}

.linktext {
	position: relative;
	top: 0px;
}

#dropdownaccount {
	color: darkgray;
	filter: drop-shadow(0.5px 0.5px 0.5px gray);
	opacity: 0.7;
	margin-right: 9px;
}

#dropdowninfo {
	color: darkgray;
	filter: drop-shadow(0.5px 0.5px 0.5px gray);
	opacity: 0.7;
	margin-right: 9px;
}

#dropdownfeedback {
	color: darkgray;
	filter: drop-shadow(0.5px 0.5px 0.5px gray);
	opacity: 0.7;
	margin-right: 9px;
}

#dropdownexit {
	color: darkgray;
	filter: drop-shadow(0.5px 0.5px 0.5px gray);
	opacity: 0.7;
	margin-right: 9px;
}

.show {
	display:block;
}

#popupbuttondiv {
	position: relative;
	top: 11px;
	left: 13px;
	color: #f95288;
	background: none;
	filter: drop-shadow(1px 1px 1px #f95288) brightness(108%);
	border: 0px solid black;

}

#popupbutton {
	position: relative;
	top: -35px;
	left: 0px;
	width: 55px;
	height: 55px;
	opacity: 0;
}

#popupmenu {
	border: 0px solid #777;
	box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.2), 0 0.5px 2px 0 rgba(0, 0, 0, 0.19);
	border-radius: 6px;
	background-color: white;
	display: inline-block;
	color: gray;
	width: 55px;
	height: 55px;
	position: absolute;
	top: 6px;
	left: 10px;
	font-size: 16px;

}



#popupmenu:hover {
	opacity: 0.8;
}

/********************feed stuffs *************/

.bottomfeedbubble {
	width: 680px;
	height: 80px;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	background-color: white;
	margin-top: 6px;
	margin-bottom: 30px;
	border-radius: 6px;
}

.botfeedbuttons {
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	width: 140px;
	height: 32px;
	border-radius: 25px;
	outline: none;
	border: none;
	font-weight: bold;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.botfeedbuttons:hover {
	filter: brightness(115%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.feedbacktotop {
	left: 30px;
	background-color: black;
	opacity: 0.7;
	color: white;
}

.feedload {
	right: 30px;
	background-color: #f95288;
	color: white;
	filter: brightness(112%);
}

.bottomfeedimg {
	height: 55px;
	width: 55px;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	position: absolute;
	filter: drop-shadow(0.75px 0.75px 0.75px #f95288) brightness(112%);
}

.activefeed {
	display: block;
}

.inactivefeed {
	display: none;
}

#feedmenu {
	position: relative;
	margin-top: 10px;
	left: 15px;
	background-color: whitesmoke;
	border-radius: 6px;
	width: 650px;
	height: 50px;
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
	z-index: 4;
}

#feeddiscover {
	font-weight: bold;
	color: white;
	left: 5px;
}

.openfeed {
	border-radius: 6px;
	position: absolute;
	height: 40.5px;
	width: 310px;
	margin-top: 4px;
	border: none;
	box-shadow: 0 1.25px 2.5px 0 rgba(0,0,0,0.2);
	background-color: #f95288;
	filter: brightness(112%);
	opacity: 1;
    font-size: 18px;
    outline: none;
}

.openfeed:hover {
	opacity: 0.9;
}

.closedfeed {
	border-radius: 6px;
	position: absolute;
	height: 40.5px;
	width: 310px;
	margin-top: 4px;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	background-color: black;
	opacity: 0.7;
    font-size: 18px;
    outline: none;
}

.closedfeed:hover {
	opacity: 0.5;
}

#feedfollowing {
	right: 5px;
	font-weight: bold;
	color: white;
}
.feeddiv {
	background-color: whitesmoke;
	border-radius: 6px;
	position: relative;
	width: 680px;
	min-height: 405px;
	left: 205px;
}

/****** post bubble styling *******/

.feedbubble {
	width: 680px;
	height: auto;
	position: relative;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	background-color: white;
	margin-top: 7px;
	border-radius: 4px;
	border: 1px solid white;

}

#first-feed-bubble {
	width: 680px;
	height: auto;
	position: relative;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	background-color: white;
	margin-top: 7px;
	border-radius: 4px;
	border: 1px solid white;
}

.postbubblediv {
	position: relative;
	border: 1px solid white;
}

.postimgback {
	position: absolute;
	width: 72.5px;
	height: 72.5px;
  	background-color: white;
	border-radius: 50%;
	top: 10px;
  	left: 20px;
  	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2); 
}

.firstfeedline {
	position: relative;
	margin-top: 15px;
	width: 100%;
	height: 1px;
	background-color: lightgray;
	opacity: 0.6;
}

.postimg {
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 50%;
    top: 3.5px;
    left: 3.5px;
}

.postoptionbutton {
	position: absolute;
	top: 15px;
	right: 10px;
	background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    color: #777;
}

.postoptionmenu {
	position: absolute;
	width: 220px;
	height: 171px;
	right: 10px;
	top: 35px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 6px;
	background-color: white;
	z-index: 5;
}

.pomtop {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border: none;
}

.pommid {
	border: none;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.pombot {
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border: none;
}

.pom-icon-follow {
	color: #f95288;
}

.pom-icon-block {
	color: red;
}

.pom-icon-report {
	color: red;
}

.postoptionmenubutton {
	width: 220px;
	height: 57px;
	text-align: left;
	background-color: white;
	font-weight: bold;
	color: #777;
}

.postoptionmenubutton:hover {
	background-color:  #faedf0;
	color: #f95288;
}

.postauthorname {
	position: absolute;
	font-weight: bold;
	left: 100px;
	top: 10px;
}

.authornamelink {
	text-decoration: none;
	color: black;
}

.authorlink {
    color: #777;
    text-decoration: none;
}

.postauthor {
	position: absolute;
	color: #777;
	left: 100px;
	top: 35px;
}

.postcontent {
	position: relative;
	margin-top: 85px;
	width: 480px;
	left: 100px;
	font-size: 16px;
	word-wrap: break-word;
}

.postmenu {
	position: relative;
	height: 35px;
	z-index: 4;
	margin-top: 25px;
	border-radius: 6px;
	width: 100%;
}

/*** postvote **/

.postupvoteactive {
	border: 1.5px solid limegreen;
	color: limegreen;
	right: 450px;
}

.postupvoteinactive {
	border: none;
	color: #777;
	right: 450px;
}

.postdownvoteactive {
	border: 1.5px solid red;
	color: red;
	left: 450px;
}

.postdownvoteinactive {
	border: none;
	color: #777;
	left: 450px;
}

.postvotediv {
	position: absolute;
	left: 50%;
	top: 1.5px;
	transform: translateX(-50%);
	width: 380px;
	height: 30px;
}

.postvotebarback {
	position: absolute;
	background-color: whitesmoke;
	height: 4px;
	width: 200px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 2px;
	top: 23px;
}

.postvotebar {
	position: absolute;
	background-color: lawngreen;
	filter: brightness(112%);
	border-radius: 2px;
	height: 4px;
}

.postvotebarstatus {
	font-size: 12px;
	color: #777;
	position: absolute;
	left: 50%;
	top: 4px;
	transform: translateX(-50%);
}

/**/

.postshare {
	right: 0px;
	color: #777;
	border: none;
}

.postcomment {
	left: 0px;
	color: #777;
	border: none;
}

.currentlencomment {
	position: absolute;
	left: 25px;
	bottom: 5px;
	font-size: 16px;
	color: #777;
}


.postmenubuttons {
    outline: none;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    top: 5px;
    width: 70px;
    height: 25px;
    border-radius: 12px;
}

.postcommentopen {
	height: 55px;
	width: 645px;
	background-color: lightgray;
	opacity: 0.5;
	border-radius: 6px;
	margin-top: 20px;
	margin-bottom: 12px;
	margin-left: 15px;
	position: relative;
}

.postcommentopen:hover {
	cursor: pointer;
}

.copentxt {
	position: absolute;
	left: 60px;
	top: 8px;
	user-select: none;
}

.copenimg {
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 50%;
    top: 10px;
    left: 15px;
    pointer-events: none;
    user-select: none;
}

.postcommentwrite {
	width: 640px;
	height: auto;
	position: relative;
	border: 1px solid lightgray;
	left: 20px;
	border-radius: 6px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.commentwriteimg {
	position: absolute;
	width: 35px;
	height: 35px;
	border-radius: 50%;
    top: 15px;
    left: 20px;
    pointer-events: none;
    user-select: none;
}

.commentwritetxt {
	position: relative;
	margin-top: 15px;
	left: 65px;
	width: 450px;
	min-height: 70px;
	margin-bottom: 70px;
	resize: none;
	overflow: auto;
	border: none;
	outline: none;
	font-size: 18px;
}

.commentcancel {
	position: absolute;
	height: 35px;
	width: 70px;
	bottom: 15px;
	right: 145px;
	font-size: 16px;
	background-color: white;
	border: none;
	outline: none;
	color: #777;
}

.commentsubmit {
	position: absolute;
	height: 40px;
	width: 110px;
	right: 20px;
	bottom: 15px;
	border-radius: 30px;
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 16px;
	background-color: #f95288;
	color: white;
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
}

.commentsubmit:hover {
	filter: brightness(105%);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}


.a {
	display: block;
}

.i {
	display: none;
}

.postcomments {
	position: relative;
	margin-top: 20px;
}

/** postcomment vote **/
.commentvotediv {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 280px;
	height: 30px;
}

.commentvotebarback {
	position: absolute;
	background-color: whitesmoke;
	height: 3px;
	width: 160px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 2px;
	top: 20px;
}

.commentvotebar {
	position: absolute;
	background-color: lawngreen;
	filter: brightness(112%);
	border-radius: 2px;
	height: 3px;
}

.commentvotebarstatus {
	font-size: 11px;
	color: #777;
	position: absolute;
	left: 50%;
	top: 2px;
	transform: translateX(-50%);
}


/************************************************start scrollbar************************************************************/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2.5px lightgray; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgray; 
  opacity: 0.9;
}

/***************************main content**************************/

#maincontent {
	border:  0px solid black;
	height: auto;
	width: 1210px;
	position: relative;
}

.blocks {
	background-color: white;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	border-radius: 6px;   
  	margin-top: 93px;
 	position: relative;
  	left: 205px;
}

/*********************************start nav styling*********************************************************************************************/
#sidebar {
    position: absolute;
    width: 220px;
    height: calc(100% - 121px);
    left: -8px;
    top: 91px;
}

.mainnav {
	background-color: white;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2); 
	border-radius: 6px;
	width: 210px;
	height: 270px;
  	top: 252px;
  	left: 0px;
	position: sticky;
}

.uppernavtrans {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
	border-radius: 6px;
	width: 210px;
	height: 270px;
  	top: 93px;
  	left: 0px;
	position: sticky;
}

.navbuttons {
	border: 0px solid black;
	background-color: white;
	text-align: left;
	font-weight: bold;
	width: 193px;
	height: 66px;
	display: inline-block;
	outline: none;

}

.navbuttons:hover {
	text-decoration: none;
}

.navbuttondiv {
	margin-top: 8px;
}

.navbuttonh3 {
	margin-bottom: 0px; 
	margin-top: 6px;
	display: inline;
	font-weight: bold;
	font-size: 20px;
}

.navbuttonicon {
	display: inline; 
	margin-right: 10px;
	vertical-align: middle;
	opacity: 0.5;

}

.navbuttondiv {
	position: relative;
	color: gray;
}

.navbuttondiv:hover .navbuttonicon {
	opacity: 1;
}

.navbuttonsubtext {
	margin-left: 48px;
}


.mainblocknav button.active {
  background-color: #ccc;
}

.active .navbuttondiv {
	color: #f95288;
	filter: brightness(112%);

}

.active .navbuttondiv .navbuttonicon {
	color: #f95288;
	opacity: 1;
}
/********************************************************************** stream styling **********************/

#stream {
	left: 915px;
	top: 91px;
	position: absolute;
	z-index: 1;
}

.streambubble {
    position: relative;
    width: 288px;
    min-height: 0px;
    border: 0px solid black;
    margin-top: 5px;
    overflow: hidden;
}

.streambubblepictureblock {
    position: absolute;
    border: 0px solid black;
    width: 60px;
    height: 60px;
    left: 15px;
    top: 5px;
    border-radius: 50%;
}

.streambubbleuser {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 45px;
    top: 67px;
    color: gray;
}

.streambubbleheaderblock {
    position: relative;
    width: 190px;
    right: -88px;
}

.streambubbleheader {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    
}

.streambubbletextblock {
    position: relative;
    width: 175px;
    left: 105px;
    border: 0px solid black;
}

.streambubbletext {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.streambubbletextexp {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 10; /* number of lines to show */
           line-clamp: 10; 
   -webkit-box-orient: vertical;   
}

.streambuboverflowblock {
    position: absolute;
    left: 220px;
    bottom: 0px
}

.streambuboverflow {
    font-size: 13px;
    background: none;
    outline: none;
    border: none;
}

.strmoverflowclosed {
    color: #f95288;
    font-size: 13px;
    background: none;
    outline: none;
    border: none;
}

.strmoverflowopen {
    color: black;
    font-size: 13px;
    background: none;
    outline: none;
    border: none;
}

.streambubblebottomline {
	margin-top: 15px;
    margin-bottom: 0px;
	position: relative;
	z-index: 9;
	height: 0.5px;
	filter: brightness(112%);
	background-color: lightgray;
}

#notificationdiv {
	background-color: white;
	border-radius: 0px;
	position: absolute;
	width: 298px;
	height: 422px;
	top: 67.5px;
	left: 0px;
	z-index: 3;
	overflow-y: scroll;
}

.activeside {
    display: block;
}

.inactiveside {
    display: none;
}

.openstream {
	border-radius: 6px;
	position: absolute;
	height: 70px;
	width: 148px;
	top: 0px;
	left: 0px;
	border: none;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
	color: #f95288;
	filter: brightness(112%);
	background-color: white;
	font-weight: 800;

}

.openstream:hover {
	opacity: 0.9;
}

.closedstream {
	border-radius: 6px;
	position: absolute;
	height: 70px;
	width: 148px;
	top: 0px;
	left: 0px;
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	color: gray;
	filter: brightness(112%);
	background-color: white;
	font-weight: bold;

}

.closedstream:hover {
	opacity: 0.9;
}

#streambutton {
	z-index: 2;
	top: 2px;
	outline: none;
	font-size: 21px;
}

#notificationbutton {
	left: 150px;
	z-index: 2;
	top: 2px;
	outline: none;
	font-size: 19px;
}

#streamline {
	top: 44.5px;
	left: 0px;
	width: 149px;
	position: absolute;
	z-index: 9;
	height: 1.5px;
	filter: brightness(112%);
	background-color: #f95288;
}

#notifyline {
	top: 46px;
	left: 150px;
	width: 149px;
	position: absolute;
	z-index: 9;
	height: 0.5px;
	filter: brightness(112%);
	background-color: lightgray;
}

/*****************************small info start **********************/


#profilesmall {
    position: absolute;
	border: 1px solid white;
	background-color: white;
	width: 210px;
	height: 150px;
	border-radius: 6px;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    top: -159px;
    left: 0px;
}

#profilesmallbanner {
    position: absolute;
    width: 210px;
    height: 57px;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #f95288;
    top: -1px;
    left: -1px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

#profileimageback {
  	position: absolute;
	width: 72.5px;
	height: 72.5px;
  	background-color: white;
	border-radius: 50%;
	top: 14px;
  	transform: translateX(-50%);
  	left: 50%;
  	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);                                          
}

#profileimage {
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 50%;
    top: 3.5px;
    left: 3.5px;
}

#profilename {
	font-weight: bold;
	position: absolute;
	font-size: 16px;
	top: 87px;
	left: 15px;
}

#profiletag {
	color: gray;
	position: absolute;
	top: 117px;
	left: 15px;
}

.postblock {
	position: relative;
	width: 680px;
	min-height: 180px;
	margin-top: 10px;
	background-color: white;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	left: 205px;
	border-radius: 6px;
}

.posttext {
	position: relative;
	margin-top: 33px;
	left: 79px;
	width: 450px;
	min-height: 70px;
	margin-bottom: 75px;
	resize: none;
	overflow: auto;
	border: none;
	outline: none;
	font-size: 18px;
}

#currentlenpost {
	position: absolute;
	left: 30px;
	bottom: 10px;
	font-size: 16px;
	color: #777;
}

.postline {
	height: 1.5px;
	width: 96%;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	bottom: 70px;
	opacity: 0.5;
	background-color: lightgray;
	z-index: 6;
}

.postwriteimg {
	position: absolute;
	width: 45px;
	height: 45px;
	border-radius: 50%;
    top: 28px;
    left: 25px;
    pointer-events: none;
    user-select: none;
}

.postimage {
	display: none;
}

.postimagelabel {
	opacity: 0.7;
	position: absolute;
	right: 35px;
	top: 45px;
}

.postimagelabel:hover {
	cursor: pointer;
	opacity: 0.65;
}

.postsubmit {
	border-radius: 25px;
	outline: none;
	border: none;
	background-color: #f95288;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	color: white;
	position: absolute;
	bottom: 15px;
	right: 20px;
	font-weight: bold;
	width: 116px;
	height: 38px;
	font-size: 17px;
}

.postsubmit:hover {
	filter: brightness(115%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.postclearbutton {
	position: absolute;
	height: 35px;
	width: 70px;
	bottom: 15px;
	right: 145px;
	font-size: 17px;
	background-color: white;
	border: none;
	outline: none;
	color: #777;
}

.postclearbutton:hover {
	filter: brightness(115%);
}

/**logout popup**/

.alertpopup {
    position: fixed;
    width: 350px;
    height: 250px;
    border: 0px solid black;
    background-color: white;
    z-index: 7;
    transform: translateX(-50%);
    left: 50%;
    top: 110px;
    border-radius: 3px;
    box-shadow: 0 0 0 2000px rgba(0,0,0,0.6);
}

#logouticon {
    color: red;
    position: absolute;
    top: 85px;
    transform: translateX(-50%);
    left: 50%;
}

.logoutbtns {
	position: absolute;
    bottom: 10px;
    height: 50px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    color: white;
    text-align: center;
    line-height: 50px;
}

#logoutbtn {
	right: 10px;
	background-color: red;
	width: 205px;
} 

#logoutbtn:hover {
	color: white;
}

#cancellogoutbtn {
	left: 10px;
	background-color: gray;
	width: 115px;
}

#logoutmsg {
	text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
}

#logoutpara {
    position: absolute;
    top: 50px;
    transform: translateX(-50%);
    left: 50%;
    width: 200px;
    text-align:  center;
}

/**small info**/

#smallinfopopupclose {
	background-color: white;
	outline: none;
	border: 0px;
	right: 8px;
	top: 8px;
	position: absolute;
	color: red;
	font-weight: bold;
	font-size: 18px;
}

#smallinfopopup {
	position: absolute;
	width: 640px;
	height: 700px;
	border: 0px solid black;
	background-color: white;
	z-index: 7;
	left: 240px;
	top: 85px;
	border-radius: 6px;
	display: none;
	box-shadow: 0 0 0 2000px rgba(0,0,0,0.6);
}

#smallinfobutton:hover {
	cursor: pointer;
}

/**hovers**/

.hoverpink:hover {
	color: #f95288;
}

.hovergreen:hover {
	color: lawngreen;
	filter: brightness(105%);
}

.hoverred:hover {
	color: red;
}

/**footer styling**/

footer {
	font-family: 'Lato', sans-serif;
}

#footerborder {
	background-color: white;
	height: 191px;
	color: #777;
	margin-top: 30px;
	text-align: center;
}

li {
	display: inline;
	margin-right: 8px;
	margin-left: 8px;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.footerlink {
	color: #777;
}

.footerlink:hover {
	color: #7777;
}

#footerlist {
	list-style: none;
	font-size: 14px;
	display: inline;
}

/** loader **/
.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #f95288;
  text-indent: -9999em;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 3em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 2em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 3em;
  }
}