#createblock {
	width: 680px;
	min-height: 485px;
	margin-bottom: 30px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 6px;   
  	margin-top: 93px;
 	position: relative;
  	left: 205px;
}

#solomenubutton {
	font-weight: bold;
	color: white;
	left: 5px;
}

.openfeed {
	border-radius: 6px;
	position: absolute;
	height: 40.5px;
	width: 310px;
	margin-top: 4px;
	border: none;
	box-shadow: 0 1.25px 2.5px 0 rgba(0,0,0,0.2);
	background-color: #f95288;
	filter: brightness(112%);
	opacity: 1;
    font-size: 18px;
    outline: none;
}

.openfeed:hover {
	opacity: 0.9;
}

.closedfeed {
	border-radius: 6px;
	position: absolute;
	height: 40.5px;
	width: 310px;
	margin-top: 4px;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	background-color: black;
	opacity: 0.7;
    font-size: 18px;
    outline: none;
}

.closedfeed:hover {
	opacity: 0.5;
}

.feeddiv {
	background-color: whitesmoke;
	border-radius: 6px;
	position: relative;
	width: 680px;
	min-height: 405px;
	left: 205px;
	margin-top: 2px;
}

.activefeed {
	display: inline-block;
	border: 1px solid white;
	border-radius: 6px;
}

.inactivefeed {
	display: none;
}

.selectBox {
  position: relative;
}

.selectBox select {
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.inputbars {
	position: relative;
	left: 20px;
	outline: none;
	border: 1px solid black;
}

#plus-sign {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #f95288;
}

#solo-form-title-text {
	position: absolute;
	line-height: 28px;
	font-size: 16px;
	width: 640px;
	left: 33px;
	font-weight: bold;
}

#solo-form-title {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	left: 20px;
	width: 640px;
	height: 50px;
	border: 1px solid white;
}

#solo-subject-input {
	right: 20px;
	width: 318px;
	height: 30px;
	margin-bottom: 6px;
	font-size: 16px;
}

#solotitleinput {
	width: 640px;
	height: 40px;
	margin-bottom: 6px;
	font-size: 16px;
}

#solo-channel-input {
	width: 318px;
	height: 30px;
	margin-bottom: 6px;
	font-size: 16px;
}

#solodescinput {
	width: 640px;
	height: 140px;
	font-size: 17px;
	resize: none;
}

#soloallowed {
	height: 55px;
	color: gray;
	opacity: 0.5;
	font-size: 17px;
}

#soloallowedchecks {
}

#soloformsubmit {
	position: relative;
	left: 20px;
	border-radius: 6px;
	border: none;
	background-color: lightgreen;
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
	color: white;
	width: 640px;
	height: 45px;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}

#solocaptchadiv {
	height: 80px;
	background-color: white;
}

#multititleinput {
	height: 65px;
	border: 1px solid #777;
	box-shadow: inset 0 0.5px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.5;
}

#multidescinput {
	height: 140px;
	border: 1px solid #777;
	box-shadow: inset 0 0.5px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.5;
}

#multiallowed {
	height: 55px;
	color: gray;
	border: 1px solid #777;
	box-shadow: inset 0 0.5px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.5;
}

#multiallowedchecks {
}

#multisubmitbuttondiv {
	height: 70px;
	margin-bottom: 20px;
	background-color: whitesmoke;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

#multiformsubmit {
	position: relative;
	left: 20px;
	border-radius: 6px;
	border: none;
	background-color: lightgreen;
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
	color: white;
	width: 640px;
	height: 45px;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}

#multicaptchadiv {
	height: 80px;
	background-color: white;
}

#multimenuhead {
	font-weight: bold;
	color: #f95288;
	filter: brightness(112%) drop-shadow(0.25px 0.25px 0.25px #f95288);
	text-align: center;
}

#multisize {
	height: 40px;
	background-color: white;
	border: 1px solid #777;
	box-shadow: inset 0 0.5px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.5;
}

/** menu stuff **/

#typemenu {
	position: relative;
	margin-top: 10px;
	margin-bottom: 5px;
	left: 15px;
	background-color: whitesmoke;
	border-radius: 6px;
	width: 650px;
	height: 50px;
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
	z-index: 4;
}

#solomenubutton {
	font-weight: bold;
	color: white;
	left: 5px;
}

#multimenubutton {
	right: 5px;
	font-weight: bold;
	color: white;
}

.firstfeedline {
	position: relative;
	margin-top: 15px;
	width: 100%;
	height: 1px;
	background-color: lightgray;
	opacity: 0.6;
}

/***** stream adjustments **********/
 #streambackground {
    border: 1px solid white;
    background-color: white;
    border-radius: 6px;
    width: 298px;
    height: 507px;
    left: 0px;
    top: 70px;
    position: absolute;
    z-index: 2;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

#streamdiv {
    background-color: white;
    border-radius: 0px;
    position: absolute;
    width: 298px;
    height: 505px;
    top: 67.5px;
    left: 0px;
    z-index: 3;
    overflow-y: scroll;
}

/***** stream adjustments **********/
 #streambackground {
	border: 1px solid white;
	background-color: white;
	border-radius: 6px;
	width: 298px;
	height: 507px;
	left: 0px;
	top: 70px;
	position: absolute;
	z-index: 2;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#streamdiv {
	background-color: white;
	border-radius: 0px;
	position: absolute;
	width: 298px;
	height: 505px;
	top: 67.5px;
	left: 0px;
	z-index: 3;
	overflow-y: scroll;
}