/***********************************************************Profile Tab **********************************************************************/
#profileblock {
	width: 680px;
	min-height: 370px;
    border: 1px solid white;
}

#profilebackgroundimg {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 680px;
    height: 185px;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 3;
    background-color: #f95288;
}

#profilebackgroundimgspace {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0px solid black;
    background-color: white;
    z-index: 5;
    transform: translate(-50%);
    top: 107px;
    left: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#profbackimg {
    position: absolute;
    width: 140px;
    height: 140px;
    border: 0px solid black;
    border-radius: 50%;
    transform: translate(-50%);
    top: 5px;
    left: 50%;
    z-index: 5;
}   

#profname {
    position: absolute;
    top: 210px;
    left: 35px;
    font-weight: bold;
    font-size: 22px
}

#proftag {
    position: absolute;
    top: 248px;
    left: 35px;
    color: gray;
}

#proffollowers {
    position: absolute;
    top: 280px;
    left: 35px;
}

#proffollowing {
    position: absolute;
    top: 280px;
    left: 130px;
}

#profsite {
    position: absolute;
    top: 312px;
    left: 35px;
    color: gray;
}

#profdesc {
    color: black;
	position: relative;
	margin-top: 345px;
	left: 35px;
    width: 450px;
    font-size: 15px;
    margin-bottom: 30px;
}

#successmsg {
	color: green;
	position: relative;
	z-index: 4;
	margin-top: 470px;
	margin-left: 30px;
}

#failmsg {
	color: red;
	position: relative;
	z-index: 4;
	margin-top: 470px;
	margin-left: 30px;
}

.editprofbutclose {
    right: 50px;
    width: 135px;
    height: 40px;
    background-color: #f95288;
}

.editprofbutclose:hover {
    filter: brightness(115%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.editprofbutopen {
    background-color: lightgray;
    right: 130px;
    width: 100px;
    height: 40px;
}

.editprofbutopen:hover {
    filter: brightness(105%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#editprofbutton {  
    color: white;
    font-weight: bold;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 25px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    top: 210px;
    font-size: 16px;
}


.alertmessage {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
}

.alertpopupclose {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 330px;
    height: 50px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
}

.errormsg {
    color: red;
}

.msgpara {
    position: absolute;
    top: 50px;
    transform: translateX(-50%);
    left: 50%;
    width: 200px;
    text-align:  center;
}

#erroricon {
    color: red;
    position: absolute;
    top: 85px;
    transform: translateX(-50%);
    left: 50%;
}

#successicon {
    color: limegreen;
    position: absolute;
    top: 85px;
    transform: translateX(-50%);
    left: 50%;
}

#errorbtn {
    background-color: red;
}

#successbtn {
    background-color: limegreen;
    filter: brightness(105%);
}

.successmsg {
    color: limegreen;
    filter: brightness(105%);
}

/*********** feed div ***************/

.feeddiv {
    margin-top: 5px;
}


/***** stream adjustments **********/
 #streambackground {
    border: 1px solid white;
    background-color: white;
    border-radius: 6px;
    width: 298px;
    height: 507px;
    left: 0px;
    top: 70px;
    position: absolute;
    z-index: 2;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

#streamdiv {
    background-color: white;
    border-radius: 0px;
    position: absolute;
    width: 298px;
    height: 505px;
    top: 67.5px;
    left: 0px;
    z-index: 3;
    overflow-y: scroll;
}