/***********************************************************Profile Tab **********************************************************************/
#profileblock {
	width: 680px;
	min-height: 370px;
    border: 1px solid white;
}

#profilebackgroundimg {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 680px;
    height: 185px;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 3;
    background-color: #f95288;
}

#profilebackgroundimgspace {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0px solid black;
    background-color: white;
    z-index: 5;
    transform: translate(-50%);
    top: 107px;
    left: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#profbackimg {
    position: absolute;
    width: 140px;
    height: 140px;
    border: 0px solid black;
    border-radius: 50%;
    transform: translate(-50%);
    top: 5px;
    left: 50%;
    z-index: 5;
}   

#profname {
    position: absolute;
    top: 210px;
    left: 35px;
    font-weight: bold;
    font-size: 22px
}

#proftag {
    position: absolute;
    top: 248px;
    left: 35px;
    color: gray;
}

#proffollowers {
    position: absolute;
    top: 280px;
    left: 35px;
}

#proffollowing {
    position: absolute;
    top: 280px;
    left: 130px;
}

#profsite {
    position: absolute;
    top: 312px;
    left: 35px;
    color: gray;
}

#profdesc {
    color: black;
	position: relative;
	margin-top: 345px;
	left: 35px;
    width: 450px;
    font-size: 15px;
    margin-bottom: 30px;
}

#successmsg {
	color: green;
	position: relative;
	z-index: 4;
	margin-top: 470px;
	margin-left: 30px;
}

#failmsg {
	color: red;
	position: relative;
	z-index: 4;
	margin-top: 470px;
	margin-left: 30px;
}

.editprofbutclose {
    right: 50px;
    width: 135px;
    height: 40px;
    background-color: #f95288;
}

.editprofbutclose:hover {
    filter: brightness(115%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.editprofbutopen {
    background-color: lightgray;
    right: 130px;
    width: 100px;
    height: 40px;
}

.editprofbutopen:hover {
    filter: brightness(105%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#editprofbutton {  
    color: white;
    font-weight: bold;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 25px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    top: 210px;
    font-size: 16px;
}

#saveprofedit {
    color: white; 
    font-weight: bold;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 25px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    top: 210px;
    background-color: lawngreen;
    right: 20px;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

#saveprofedit:hover {
    filter: brightness(115%);
    box-shadow: 0 1.25px 2.5px 0 rgba(0,0,0,0.2);
}

.profileeditinactive {
    display: none;
}

#changebannerback {
    position: absolute;
    width: 680px;
    height: 185px;
    top: -1px;
    left: -1px;
    border-radius: 6px;
    z-index: 4;
    background-color: black;
    opacity: 0.4;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#changebannerback:hover {
    cursor:pointer;
}

#changebannericon {
    position: absolute;
    left: 320px;
    top: 35px;
    color: white;
    z-index: 6;
    opacity: 0.9;
}

#changebannericon:hover {
    cursor: pointer;
}

#changeprofimgback {
    position: absolute;
    width: 140px;
    height: 140px;
    border: 0px solid black;
    border-radius: 50%;
    background-color: black;
    left: 270px;
    top: 112px;
    opacity: 0.4;
    z-index: 5;
}

#changeprofimgback:hover {
    cursor:pointer;
}

#changeprofimgicon {
    position: absolute;
    color: white;
    z-index: 6;
    left: 327px;
    top: 170px;
    opacity: 0.9;
}

.edittxts {
    position: absolute;
    font-weight: bold;
    left: 40px;
}

#changeprofimgicon:hover {
    cursor: pointer;
}

#nametxt {
    bottom: 480px;
}

.changeinputs {
    position: absolute;
    left: 40px;
    box-shadow: inset 0 0.5px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    height: 60px;
    width: 590px;
    border-radius: 6px; 
    border: 1px solid #777;
    opacity: 0.5;
    font-size: 20px;
}

#changename {
    bottom: 415px;
}

#usertxt {
    bottom: 365px;
}

#changeuser {
    bottom: 300px;
}

#sitetxt {
    bottom: 250px;
}

#changesite {
    bottom: 185px;
}

#desctxt {
    bottom: 135px;
}

#changedesc {
    bottom: 30px;
    height: 100px;
    font-size: 18px;
    resize: none;
}

.alertmessage {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
}

.alertpopupclose {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 330px;
    height: 50px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
}

.errormsg {
    color: red;
}

.msgpara {
    position: absolute;
    top: 50px;
    transform: translateX(-50%);
    left: 50%;
    width: 200px;
    text-align:  center;
}

#erroricon {
    color: red;
    position: absolute;
    top: 85px;
    transform: translateX(-50%);
    left: 50%;
}

#successicon {
    color: limegreen;
    position: absolute;
    top: 85px;
    transform: translateX(-50%);
    left: 50%;
}

#errorbtn {
    background-color: red;
}

#successbtn {
    background-color: limegreen;
    filter: brightness(105%);
}

.successmsg {
    color: limegreen;
    filter: brightness(105%);
}

.postblock {
    margin-bottom: 10px;
}

/**/

#profilenavbutton .navbuttondiv {
    color: #f95288;
    opacity: 1;
}

#profilenavbutton .navbuttondiv .navbuttonicon {
    color: #f95288;
    opacity: 1;
}

/**** stream adjustments *********/
#streambackground {
	border: 1px solid white;
	background-color: white;
	border-radius: 6px;
	width: 298px;
	height: 427px;
	left: 0px;
	top: 70px;
	position: absolute;
	z-index: 2;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

#streamdiv {
	background-color: white;
	border-radius: 0px;
	position: absolute;
	width: 298px;
	height: 425px;
	top: 67.5px;
	left: 0px;
	z-index: 3;
	overflow-y: scroll;
}

/**/

/**/

#feedpostblockdiv {
	margin-top: 93px;
}

/** loadingpost div **/

.loading-post-div {
	height: 160px;
	width: 680px;
}

.loading-post-img {
	position: absolute;
	margin-top: 15px;
	left: 15px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: #f3f3f3;
}

.loading-post-top-bar {
	position: absolute;
	margin-top: 20px;
	left: 90px;
	width: 470px;
	height: 18px;
	border-radius: 6px;
	background-color: #f3f3f3;
}

.loading-post-second-bar {
	position: absolute;
	margin-top: 50px;
	left: 90px;
	width: 200px;
	height: 18px;
	border-radius: 6px;
	background-color: #f3f3f3;
}

.loading-post-third-bar {
	position: absolute;
	margin-top: 90px;
	left: 90px;
	width: 510px;
	height: 18px;
	border-radius: 6px;
	background-color: #f3f3f3;
}

.loading-post-fourth-bar {
	position: absolute;
	margin-top: 120px;
	left: 90px;
	width: 470px;
	height: 18px;
	border-radius: 6px;
	background-color: #f3f3f3;
}