/**********************************feed styling****************/

#feedblock {
	width: 680px;
	height: 80px;
}

#feedmenu {
	position: absolute;
	top: 10px;
	left: 131px;
	border: 0px solid black;
	background-color: whitesmoke;
	border-radius: 6px;
	width: 413px;
	height: 57px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	z-index: 4;
}

#feeddiscover {
	font-weight: bold;
	color: white;
	left: 5px;
}

.openfeed {
	border-radius: 6px;
	position: absolute;
	height: 48px;
	width: 195px;
	margin-top: 4px;
	left: 10px;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	background-color: #f95288;
	filter: brightness(112%);
	opacity: 1;
    font-size: 16px;
    outline: none;
}

.openfeed:hover {
	opacity: 0.9;
}

.closedfeed {
	border-radius: 6px;
	position: absolute;
	height: 48px;
	width: 195px;
	margin-top: 4px;
	left: 10px;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	background-color: black;
	opacity: 0.7;
    font-size: 16px;
    outline: none;
}

.closedfeed:hover {
	opacity: 0.5;
}

#feedfollowing {
	left: 213px;
	font-weight: bold;
	color: white;
}
.feeddiv {
	background-color: whitesmoke;
	border-radius: 6px;
	position: relative;
	width: 680px;
	min-height: 405px;
	left: 205px;
	margin-top: 2px;
}

.activefeed {
	display: inline-block;
}

.inactivefeed {
	display: none;
}

.bottomfeedbubble {
	width: 680px;
	height: 80px;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	background-color: white;
	margin-top: 6px;
	margin-bottom: 30px;
	border-radius: 6px;
}

.botfeedbuttons {
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	width: 140px;
	height: 30px;
	border-radius: 6px;
	outline: none;
	border: none;
	font-weight: bold;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.feedbacktotop {
	left: 30px;
	background-color: black;
	opacity: 0.7;
	color: white;
}

.feedload {
	right: 30px;
	background-color: #f95288;
	color: white;
	filter: brightness(112%);
}

.bottomfeedimg {
	height: 55px;
	width: 55px;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	position: absolute;
	filter: drop-shadow(0.75px 0.75px 0.75px #f95288) brightness(112%);
}

/* post bubble styling */

.feedbubble {
	width: 680px;
	height: auto;
	position: relative;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	background-color: white;
	margin-top: 6px;
	border-radius: 4px;
	border: 1px solid white;

}

.postimgback {
	position: absolute;
	width: 72.5px;
	height: 72.5px;
  	background-color: white;
	border-radius: 50%;
	top: 10px;
  	left: 20px;
  	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2); 
}

.postimg {
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 50%;
    top: 3.5px;
    left: 3.5px;
}

.postoptionbutton {
	position: absolute;
	top: 15px;
	right: 10px;
	background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    color: #777;
}

.postoptionbutton:hover {
	color: #f95288;
}

.postoptionmenu {
	position: absolute;
	width: 160px;
	height: 140px;
	right: 10px;
	top: 35px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 6px;
	background-color: white;
	z-index: 5;
}

.postauthorname {
	position: absolute;
	font-weight: bold;
	left: 100px;
	top: 10px;
}

.postauthor {
	position: absolute;
	color: #777;
	left: 100px;
	top: 35px;
}

.postcontent {
	position: relative;
	margin-top: 85px;
	width: 480px;
	left: 100px;
	font-size: 16px;
}

.postdate {
	position: absolute;
	top: 35px;
	left: 170px;
	color: #777;
}

.postmenu {
	position: relative;
	height: 35px;
	z-index: 4;
}

.postcomment {
	left: 10px;
}

.postupvote {
	left: 210px;
}

.postdownvote {
	right: 210px;
}

.postshare {
	right: 10px;
}

.postmenubuttons {
	background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    color: #777;
    position: absolute;
    top: 5px;
}

.postmenubuttons:hover {
	color: #f95288;
}

.postupvote:hover {
	color: lawngreen;
}

.postdownvote:hover {
	color: red;
}

.postcommentopen {
	height: 55px;
	width: 640px;
	background-color: lightgray;
	opacity: 0.5;
	border-radius: 6px;
	margin-top: 12px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.copentxt {
	position: absolute;
}

.a {
	display: block;
}

.i {
	display: none;
}


/***** stream adjustments *********/
 #streambackground {
	border: 1px solid white;
	background-color: white;
	border-radius: 6px;
	width: 298px;
	height: 507px;
	left: 0px;
	top: 70px;
	position: absolute;
	z-index: 2;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

#streamdiv {
	background-color: white;
	border-radius: 0px;
	position: absolute;
	width: 298px;
	height: 505px;
	top: 67.5px;
	left: 0px;
	z-index: 3;
	overflow-y: scroll;
}