.feeddiv {
	margin-top: 87px;
}

/**** stream adjustments *********/
 #streambackground {
	border: 1px solid white;
	background-color: white;
	border-radius: 6px;
	width: 298px;
	height: 427px;
	left: 0px;
	top: 70px;
	position: absolute;
	z-index: 2;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

#streamdiv {
	background-color: white;
	border-radius: 0px;
	position: absolute;
	width: 298px;
	height: 425px;
	top: 67.5px;
	left: 0px;
	z-index: 3;
	overflow-y: scroll;
}