body {
	font-family: 'Lato', sans-serif;
}

#backgroundid {
	background-color: whitesmoke;
	min-height: 600px;
}	

#header {
	border:  0px solid black;
	background-color: white;
	width: 100%;
	height: 70px;
	position: fixed;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
	z-index: 8;
}

#subheader {
	border: 0px solid black;
	width: 100%;
	height: 70px;
	position: relative;
}

#searchmenu {
	border: 0px solid #777;
	box-shadow: inset 0 0.5px 1px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: lightgray;
	color: black;
	opacity: 0.6;
	width: 250px;
	height: 45px;
	position: absolute;
	top: 12px;
	left: 73px;
	font-size: 16px;

}

#squabblerimage {
	position: absolute;
	top: 4px;
	right: 116px;
	height: 60px;
	width: 60px;
	filter: drop-shadow(1px 1px 1px palevioletred) brightness(112%);
}

#headersquab {
		top: 16px;
		right: 10px;
		position: absolute;
		font-weight: bold;
		color: palevioletred;
		filter: drop-shadow(0.75px 0.75px 0.75px palevioletred) brightness(112%);
}

#uselessbarlol {
    position: absolute;
    width: 5px;
    height: 50px;
    border-radius: 5px;
    filter: drop-shadow(0.75px 0.75px 0.75px palevioletred) brightness(112%);
    background-color: palevioletred;
    z-index: 9;
    top: 9px;
    left: 355px
}

#currenttabhead {
    position: absolute;
    color: palevioletred;
    font-weight: bold;
    filter: drop-shadow(0.25px 0.25px 0.25px palevioletred) brightness(112%);
    z-index: 9;
    top: 8px;
    left: 370px;
    font-size: 20px;
}

/*******dropdown*****/
.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  min-width: 197px;
  text-decoration: none;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
  z-index: 9;
  left: 42px;
  top: 70px;
  color: gray;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: gray;
  padding: 17px 16px;
  font-weight: bold;
  font-size: 15px;
  display: block;
  z-index: 8;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
	text-decoration: none;
}

.linktext {
	position: relative;
	top: 0px;
}

#dropdownaccount {
	color: darkgray;
	filter: drop-shadow(0.5px 0.5px 0.5px gray);
	opacity: 0.6;
	margin-right: 9px;
}

#dropdowninfo {
	color: darkgray;
	filter: drop-shadow(0.5px 0.5px 0.5px gray);
	opacity: 0.6;
	margin-right: 9px;
}

#dropdownfeedback {
	color: darkgray;
	filter: drop-shadow(0.5px 0.5px 0.5px gray);
	opacity: 0.6;
	margin-right: 9px;
}

#dropdownexit {
	color: darkgray;
	filter: drop-shadow(0.5px 0.5px 0.5px gray);
	opacity: 0.6;
	margin-right: 9px;
}

.show {
	display:block;
}

#popupbuttondiv {
	position: relative;
	top: 11px;
	left: 13px;
	color: palevioletred;
	background: none;
	filter: drop-shadow(1px 1px 1px palevioletred) brightness(108%);
	border: 0px solid black;

}

#popupbutton {
	position: relative;
	top: -35px;
	left: 0px;
	width: 55px;
	height: 55px;
	opacity: 0;
}

#popupmenu {
	border: 0px solid #777;
	box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.2), 0 0.5px 2px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	background-color: white;
	display: inline-block;
	color: gray;
	width: 55px;
	height: 55px;
	position: absolute;
	top: 6px;
	left: 10px;
	font-size: 16px;

}



#popupmenu:hover {
	opacity: 0.8;
}

/************************************************start scrollbar************************************************************/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2.5px lightgray; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgray; 
  opacity: 0.9;
}


/*****************************small info start **********************/


#profilesmall {
    position: absolute;
	border: 1px solid white;
	background-color: white;
	width: 210px;
	height: 145px;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    top: -159px;
    left: 0px;
}

#profileimage {
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	top: 10px;
	left: 72.5px;
}

#profilename {
	font-weight: bold;
	position: absolute;
	font-size: 16px;
	top: 79px;
	left: 15px;
}

#profiletag {
	color: gray;
	position: absolute;
	top: 109px;
	left: 15px;
}

/***************************main content**************************/

#maincontent {
	border:  0px solid black;
	height: auto;
	width: 1210px;
	position: relative;
}

.blocks {
 	border: 1px solid white;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 5px;   
    margin-top: 93px;
    position: relative;
    left: 205px;
}

/*****************Squabble *******************************/

#squabbleblock {
	width: 680px;
	height: 495px;
}

.menubuttons {
	position: absolute;
    border: none;
    color: white;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	width: 175px;
	height: 45px;
	top: 9px;
	left: 9px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	outline: none;
}

.menubuttons:hover {
	opacity: 0.8;
}

.infoboxes {
	position: absolute;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	width: 195px;
	height: 260px;    
}

.displayboxes {
    position: absolute;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 175px;
    height: 240px;
    left: 9px;
    top: 9px;
}

.menubuttonborders {
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    background-color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	width: 195px;
	height: 65px;
}

.menuheaderbackgrounds {
	position: absolute;
	top: -1px;
	border: 1px solid black;
	background-color: black;
	height: 50px;
	width: 175px;
	left: -1px;
	border-radius: 5px;
	opacity: 0.6;
}

.menuheaders {
	font-weight: bold;
	color: white;
	position: absolute;
}

.menup {
 	font-weight: bold;
	color: white;
	position: absolute;   
}

.menuicons {
    position: absolute;
	color: white;
}

#soloinfo {
	top: 20px;
	left: 20px;
}

#solodisplay {
	background-color: palevioletred;
	filter: brightness(112%);
    border: 1px solid palevioletred;
}

#solobuttonborder {
	left: 20px;
	top: 293px;
}

#soloheader {
	top: -13px;
	left: 52px;
}

#solop {
	top: 53px;
	left: 41px;
}

#solobutton {
	background-color: palevioletred;
	filter: drop-shadow(1px 1px 1px palevioletred) brightness(112%);
}

#soloicon {
	left: 30.5px;
	top: 90px;
}

#multiinfo {
	top: 20px;
	left: 240px;
}

#multidisplay {
	border: 1px solid palevioletred;
	background-color: palevioletred;
	filter: brightness(112%);
}

#multibuttonborder {
	left: 240px;
	top: 293px;
}
#multiheader {
	top: -13px;
	left: 52px;
}

#multip {
	top: 52px;
	left: 34px;
}

#multibutton {
	background-color: palevioletred;
	filter: drop-shadow(1px 1px 1px palevioletred) brightness(112%);
}

#multiicon {
	left: 9px;
	top: 90px;
}

#createinfo {
	top: 20px;
	right: 20px;
}

#createdisplay {
	border: 1px solid lightgray;
	background-color: lightgray;
}

#createbuttonborder {
	right: 20px;
	top: 293px;
}

#createheader {
	top: -13px;
	left: 40px;
}

#createp {
	top: 53px;
	left: 10px;
}

#createbutton {
	background-color: lightgray;
}

#createicon {
	left: 30px;
	top: 90px;
}

#spectatebutton {
	position: absolute;
	color: white;
	background-color: black;
	opacity: 0.6;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	border: none;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	width: 300px;
	height: 45px;
	top: 9px;
	left: 9px;
}

#spectatebutton:hover {
	opacity: 0.5;
}

#spectatebuttonborder {
	position: absolute;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	width: 320px;
	height: 65px;
	left: 180px;
	top: 405px;
	display: block;
}


#spectatelinebackground {
	background-color: whitesmoke;
	opacity: 1;
	position: absolute;
	left: -1px;
	top: 375px;
	width: 680px;
	height: 12px;
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.2);
}
/***********************************************************Profile Tab **********************************************************************/
#profileblock {
	width: 680px;
	min-height: 495px;
}

#profilebackgroundimg {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 680px;
    height: 200px;
    border-radius: 5px;
    z-index: 3;
    background-color: palevioletred;
}

#profilebackgroundimgspace {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0px solid black;
    background-color: white;
    z-index: 5;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 39%;
}

#profbackimg {
    position: absolute;
    width: 140px;
    height: 140px;
    border: 0px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%; 
    z-index: 5;
}   

#profname {
    position: absolute;
    top: 210px;
    left: 45px;
    font-weight: bold;
    font-size: 20px
}

#proftag {
    position: absolute;
    top: 245px;
    left: 45px;
    color: gray;
}

#editprofbuttonback {
    position: absolute;
    width: 135px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.editprofbutclose {
    filter: brightness(112%);
    right: 65px;
    width: 120px;
    height: 30px;
    background-color: palevioletred;
}

.editprofbutopen {
    background-color: lightgray;
    right: 130px;
    width: 80px;
    height: 30px;
}

#editprofbutton {  
    color: white; 
    font-weight: bold;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    top: 220px;
}

#saveprofedit {
    color: white; 
    font-weight: bold;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    top: 220px;
    background-color: lawngreen;
    right: 40px;
    width: 80px;
    height: 30px;
}

.profileeditinactive {
    display: none;
}

#changebannerback {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 680px;
    height: 200px;
    border-radius: 5px;
    z-index: 4;
    background-color: black;
    opacity: 0.4;
}

#changebannerback:hover {
    cursor:pointer;
}

#changebannericon {
    position: absolute;
    left: 320px;
    top: 40px;
    color: white;
    z-index: 6;
    opacity: 0.9;
}

#changebannericon:hover {
    cursor: pointer;
}

#changeprofimgback {
    position: absolute;
    width: 140px;
    height: 140px;
    border: 0px solid black;
    border-radius: 50%;
    background-color: black;
    left: 270px;
    top: 122px;
    opacity: 0.4;
    z-index: 5;
}

#changeprofimgback:hover {
    cursor:pointer;
}

#changeprofimgicon {
    position: absolute;
    color: white;
    z-index: 6;
    left: 327px;
    top: 175px;
    opacity: 0.9;
}

#changeprofimgicon:hover {
    cursor: pointer;
}



#changename {
    position: absolute;
    top: 220px;
    left: 30px;
    height: 40px;
    border-radius: 5px; 
    border: none;
    outline: none;
    background-color: whitesmoke;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
}

#changeuser {
    position: absolute;
    top: 270px;
    left: 30px;
    height: 40px;
    border-radius: 5px; 
    border: none;
    outline: none;
    background-color: whitesmoke;
    box-shadow: inset 0 0.5px 1px 0 rgba(0,0,0,0.2);
}

#changesite {
    position: absolute;
    top: 320px;
    left: 30px;
    height: 40px;
    border-radius: 5px; 
    border: none;
    outline: none;
    background-color: whitesmoke;
    box-shadow: inset 0 0.5px 1px 0 rgba(0,0,0,0.2);
}

#changedesc {
    position: absolute;
    top: 370px;
    left: 30px;
    height: 100px;
}

/***********************************************************explore Tab **********************************************************************/
#exploreblock {
	width: 680px;
	height: 495px;
}

#explorediv {
	border: 0px solid black;
	background-color: white;
	border-radius: 5px;
	position: absolute;
	width: 680px;
	height: 385px;
	left: 0px;
	bottom: 5px;
	overflow-y: scroll;
}

#exploresearch {
	position: absolute;
	border: 0px solid black;
	border-radius: 5px;
	height: 55px;
	width: 680px;
	left: 0px;
	top: 0px;
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	background-color: lightgray;
	opacity: 0.6;
	font-size: 19px;
    z-index: 3;
}

/*********************************start nav styling*********************************************************************************************/
#sidebar {
    position: absolute;
    border: 0px solid black;
    width: 220px;
    height: 86%;
    left: -5px;
    top: 91px;
}

.mainnav {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
	border-radius: 5px;
	width: 210px;
	height: 270px;
    top: 252px;
    left: -5px;
	position: sticky;
}

.uppernavtrans {
	border: 1px solid white;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
	border-radius: 5px;
	width: 210px;
	height: 270px;
	position: fixed;
}

.navbuttons {
	border: 0px solid black;
	background-color: white;
	text-align: left;
	font-weight: bold;
	width: 193px;
	height: 66px;
	display: inline-block;
	outline: none;
}

.navbuttondiv {
	margin-top: 8px;
}

.navbuttonh3 {
	margin-bottom: 0px; 
	margin-top: 6px;
	display: inline;
	font-weight: bold;
	font-size: 20px;
}

.navbuttonicon {
	display: inline; 
	margin-right: 10px;
	vertical-align: middle;
	opacity: 0.5;

}

.navbuttonicon:hover {
	opacity: 1;
}

.navbuttonsubtext {
	margin-left: 48px;
}


.mainblocknav button.active {
  background-color: #ccc;
}

.active .stylebuttonwrapper .navbuttondiv {
	color: palevioletred;
	filter: brightness(112%);

}

.active .stylebuttonwrapper .navbuttondiv .navbuttonicon {
	color: palevioletred;
	opacity: 1;
}

#squabblebutton {
	color: gray;
}

#squabblebutton:hover {
	color: palevioletred;
	opacity: 1;
}

#profilebutton {
	color: gray;
}

#profilebutton:hover {
	color: palevioletred;
	opacity: 1;
}

#otherbutton {
	color: gray;
}

#otherbutton:hover {
	color: palevioletred;
	opacity: 1;
}

#feedbutton {
	color: gray;
}

#feedbutton:hover {
	color: palevioletred;
	opacity: 1;
}

/**********************************feed styling****************/

#feedblock {
	width: 680px;
	height: 80px;
}

#feedmenu {
	position: absolute;
	top: 10px;
	left: 131px;
	border: 0px solid black;
	background-color: whitesmoke;
	border-radius: 5px;
	width: 413px;
	height: 57px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	z-index: 4;
}

#feeddiscover {
	font-weight: bold;
	color: white;
	left: 7px;
}

.openfeed {
	border-radius: 5px;
	position: absolute;
	height: 48px;
	width: 190px;
	margin-top: 4px;
	left: 10px;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	background-color: palevioletred;
	filter: brightness(112%);
	opacity: 1;
    font-size: 16px;
}

.openfeed:hover {
	opacity: 0.9;
}

.closedfeed {
	border-radius: 5px;
	position: absolute;
	height: 48px;
	width: 190px;
	margin-top: 4px;
	left: 10px;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	background-color: black;
	opacity: 0.6;
    font-size: 16px;
}

.closedfeed:hover {
	opacity: 0.5;
}

#feedfollowing {
	left: 215px;
	font-weight: bold;
	color: white;
}
.feeddiv {
	background-color: whitesmoke;
	border-radius: 5px;
	position: relative;
	width: 680px;
	min-height: 405px;
	left: 205px;
	margin-top: 2px;
}

.activefeed {
	display: inline-block;
}

.inactivefeed {
	display: none;
}

.feedbubble {
	width: 680px;
	min-height: 200px;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	background-color: white;
	margin-top: 6px;
	border-radius: 5px;

}

/********************************************************************** stream styling **********************/

#stream {
	left: 915px;
	top: 91px;
	position: absolute;
	z-index: 1;
}

#streambackground {
	border: 1px solid white;
	background-color: white;
	border-radius: 5px;
	width: 298px;
	height: 426px;
	left: 0px;
	top: 70px;
	position: absolute;
	z-index: 2;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#streamdiv {
	background-color: white;
	border-radius: 0px;
	position: absolute;
	width: 298px;
	height: 422px;
	top: 67.5px;
	left: 0px;
	z-index: 3;
	overflow-y: scroll;
}

.streambubble {
    position: relative;
    width: 288px;
    min-height: 0px;
    border: 0px solid black;
    margin-top: 5px;
    overflow: hidden;
}

.streambubblepictureblock {
    position: absolute;
    border: 0px solid black;
    width: 60px;
    height: 60px;
    left: 15px;
    top: 5px;
    border-radius: 50%;
}

.streambubbleuser {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 45px;
    top: 67px;
    color: gray;
}

.streambubbleheaderblock {
    position: relative;
    width: 190px;
    right: -88px;
}

.streambubbleheader {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    
}

.streambubbletextblock {
    position: relative;
    width: 175px;
    left: 105px;
    border: 0px solid black;
}

.streambubbletext {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.streambubbletextexp {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 10; /* number of lines to show */
           line-clamp: 10; 
   -webkit-box-orient: vertical;   
}

.streambuboverflowblock {
    position: absolute;
    left: 220px;
    bottom: 0px
}

.streambuboverflow {
    font-size: 13px;
    background: none;
    outline: none;
    border: none;
}

.strmoverflowclosed {
    color: palevioletred;
    font-size: 13px;
    background: none;
    outline: none;
    border: none;
}

.strmoverflowopen {
    color: black;
    font-size: 13px;
    background: none;
    outline: none;
    border: none;
}

.streambubblebottomline {
	margin-top: 15px;
    margin-bottom: 0px;
	position: relative;
	z-index: 9;
	height: 0.5px;
	filter: brightness(112%);
	background-color: lightgray;
}

#notificationdiv {
	background-color: white;
	border-radius: 0px;
	position: absolute;
	width: 298px;
	height: 422px;
	top: 67.5px;
	left: 0px;
	z-index: 3;
	overflow-y: scroll;
}

.activeside {
    display: block;
}

.inactiveside {
    display: none;
}

.openstream {
	border-radius: 5px;
	position: absolute;
	height: 70px;
	width: 148px;
	top: 0px;
	left: 0px;
	border: none;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
	color: palevioletred;
	filter: brightness(112%);
	background-color: white;
	font-weight: 800;

}

.openstream:hover {
	opacity: 0.9;
}

.closedstream {
	border-radius: 5px;
	position: absolute;
	height: 70px;
	width: 148px;
	top: 0px;
	left: 0px;
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	color: gray;
	filter: brightness(112%);
	background-color: white;
	font-weight: bold;

}

.closedstream:hover {
	opacity: 0.9;
}

#streambutton {
	z-index: 2;
	top: 2px;
	outline: none;
	font-size: 21px;
}

#notificationbutton {
	left: 150px;
	z-index: 2;
	top: 2px;
	outline: none;
	font-size: 19px;
}

#streamline {
	top: 44.5px;
	left: 0px;
	width: 149px;
	position: absolute;
	z-index: 9;
	height: 1.5px;
	filter: brightness(112%);
	background-color: palevioletred;
}

#notifyline {
	top: 46px;
	left: 150px;
	width: 149px;
	position: absolute;
	z-index: 9;
	height: 0.5px;
	filter: brightness(112%);
	background-color: lightgray;
}

/*******************************************************bottom thing *******************************/
#bottomblock {
	border: 1px solid white;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	width: 680px;
	height: 175px;
	top: 0px;
	left: 205px;
	margin-top: 20px;
	margin-bottom: 30px;
	position: relative;
	display: inline-block;
}

.botmainborders {
	border: 1px solid whitesmoke;
	border-radius: 5px;
	background-color: whitesmoke;
	position: absolute;
	height: 130px;
	width: 210px;
	box-shadow:  0 1px 2px 0 rgba(0,0,0,0.2);
}

.botmaininterior {
    border: 1px solid lightgray;
	border-radius: 5px;
	background-color: lightgray;
	position: absolute;
	left: 9px;
	top: 10px;
	height: 110px;
	width: 190px;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
}

.botmainheadback {
	position: absolute;
	top: 72px;
	border: 1px solid black;
	background-color: black;
	height: 37px;
	width: 190px;
	left: -1px;
	border-radius: 5px;
	opacity: 0.6;
}

.botbuttonborders {
 	position: absolute;
	width: 190px;
	height: 50px;
    border: 1px solid whitesmoke;
	background-color: whitesmoke;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.botmainhead {
  	font-weight: bold;
	color: white;
	position: absolute;
	top: 70px;  
}

#accounttype {
    right: 20px;
	top: 20px;
}

#accounttypeheader {
	left: 54px;
}

#credentials {
	left: 20px;
	top: 20px;
}

#credentialscroll {
	border: 0px solid black;
	border-radius: 5px;
	position: absolute;
	left: -1px;
	top: -1px;
	height: 72px;
	width: 190px;
}

#credentialsheader {
	left: 43px;
}

#hidebuttonblock {
	position: absolute;
	left: 245px;
	top: 90px;
}

#hidebutton {
	background-color: black;
	opacity: 0.6;
	outline: none;
	border: 0px solid lightgray;
	border-radius: 5px;
	position: absolute;
	height: 30px;
	width: 170px;
	left: 9px;
	top: 10px;
	z-index: 4;
	font-weight: bold;
	color: white;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

#hidebutton:hover {
	opacity: 0.5;
}

#smallinfobuttonbackground {
	top: 30px;
	left: 245px;
}

.info {
	width: 170px;
	height: 30px;
	position: absolute;
	top: 9px;
	left: 9px;
    font-size: 14px;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	border: 0px;
	outline: none;
    box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
    
}

.closeinfo {
	background-color: palevioletred;
	filter: brightness(110%);
}

.closeinfo:hover {
	opacity: 0.9;
}

.openinfo {
	background-color: black;
	opacity: 0.6;
	filter: drop-shadow(1px 1px 1px black);
}

.openinfo:hover {
	opacity: 0.5;
}


#smallinfopopup {
	position: absolute;
	width: 640px;
	height: 580px;
	border: 0px solid black;
	background-color: white;
	z-index: 7;
	left: 240px;
	top: 85px;
	border-radius: 5px;
	display: none;
	box-shadow: 0 0 0 2000px rgba(0,0,0,0.6);
}

#smallinfopopupclose {
	background-color: white;
	outline: none;
	border: 0px;
	right: 8px;
	top: 8px;
	position: absolute;
	color: red;
	font-weight: bold;
	font-size: 18px;
}

/********************************************************footer styling****************************/

footer {
	font-family: 'Lato', sans-serif;
}

#footerborder {
	background-color: white;
	height: 191px;
	color: #777;
	margin-top: 30px;
	text-align: center;
}

li {
	display: inline;
	margin-right: 8px;
	margin-left: 8px;
}

.footerlink {
	color: #777;
}

.footerlink:hover {
	color: #7777;
}

#footerlist {
	list-style: none;
	font-size: 14px;
	display: inline;
}