/*****************************small info start **********************/


#profilesmall {
    position: absolute;
	border: 1px solid white;
	background-color: white;
	width: 210px;
	height: 145px;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    top: -159px;
    left: 0px;
}

#profilesmallbanner {
    position: absolute;
    width: 210px;
    height: 55px;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: palevioletred;
    top: -1px;
    left: -1px;
}

#profileimageback {
    position: absolute;
	width: 72.5px;
	height: 72.5px;
    background-color: white;
	border-radius: 50%;
	top: 14px;
    transform: translateX(-50%);
    left: 50%;                                            
}

#profileimage {
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 50%;
    top: 3.5px;
    left: 3.5px;
}

#profilename {
	font-weight: bold;
	position: absolute;
	font-size: 16px;
	top: 82px;
	left: 15px;
}

#profiletag {
	color: gray;
	position: absolute;
	top: 112px;
	left: 15px;
}

/*****************Squabble *******************************/

#squabbleblock {
	width: 680px;
	height: 495px;
}

.menubuttons {
	position: absolute;
    border: none;
    color: white;
	font-size: 16px;
	font-weight: bold;
	border-radius: 6px;
	width: 175px;
	height: 45px;
	top: 9px;
	left: 9px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	outline: none;
}

.menubuttons:hover {
	opacity: 0.8;
}

.infoboxes {
	position: absolute;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	border-radius: 6px;
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	width: 195px;
	height: 260px;    
}

.displayboxes {
    position: absolute;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
    border-radius: 6px;
    width: 175px;
    height: 240px;
    left: 9px;
    top: 9px;
}

.menubuttonborders {
    position: absolute;
    box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
    background-color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 6px;
	width: 195px;
	height: 65px;
}

.menuheaderbackgrounds {
	position: absolute;
	top: -1px;
	border: 1px solid black;
	background-color: black;
	height: 50px;
	width: 175px;
	left: -1px;
	border-radius: 6px;
	opacity: 0.6;
}

.menuheaders {
	font-weight: bold;
	color: white;
	position: absolute;
}

.menup {
 	font-weight: bold;
	color: white;
	position: absolute;   
}

.menuicons {
    position: absolute;
	color: white;
}

#soloinfo {
	top: 20px;
	left: 20px;
}

#solodisplay {
	background-color: palevioletred;
	filter: brightness(112%);
    border: 1px solid palevioletred;
}

#solobuttonborder {
	left: 20px;
	top: 293px;
}

#soloheader {
	top: -13px;
	left: 52px;
}

#solop {
	top: 53px;
	left: 41px;
}

#solobutton {
	background-color: palevioletred;
	filter: brightness(112%);
}

#soloicon {
	left: 30.5px;
	top: 90px;
}

#multiinfo {
	top: 20px;
	left: 240px;
}

#multidisplay {
	border: 1px solid palevioletred;
	background-color: palevioletred;
	filter: brightness(112%);
}

#multibuttonborder {
	left: 240px;
	top: 293px;
}
#multiheader {
	top: -13px;
	left: 52px;
}

#multip {
	top: 52px;
	left: 34px;
}

#multibutton {
	background-color: palevioletred;
	filter: brightness(112%);
}

#multiicon {
	left: 9px;
	top: 90px;
}

#createinfo {
	top: 20px;
	right: 20px;
}

#createdisplay {
	border: 1px solid lightgray;
	background-color: lightgray;
}

#createbuttonborder {
	right: 20px;
	top: 293px;
}

#createheader {
	top: -13px;
	left: 40px;
}

#createp {
	top: 53px;
	left: 10px;
}

#createbutton {
	background-color: lightgray;
}

#createicon {
	left: 30px;
	top: 90px;
}

#spectatebutton {
	position: absolute;
	color: white;
	background-color: black;
	opacity: 0.6;
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
	border: none;
	font-size: 16px;
	font-weight: bold;
	border-radius: 6px;
	width: 300px;
	height: 45px;
	top: 9px;
	left: 9px;
}

#spectatebutton:hover {
	opacity: 0.5;
}

#spectatebuttonborder {
	position: absolute;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 6px;
	width: 320px;
	height: 65px;
	left: 180px;
	top: 405px;
	display: block;
}


#spectatelinebackground {
	background-color: whitesmoke;
	opacity: 1;
	position: absolute;
	left: -1px;
	top: 375px;
	width: 680px;
	height: 12px;
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.2);
}
/***********************************************************Profile Tab **********************************************************************/
#profileblock {
	width: 680px;
	min-height: 370px;
}

#profilebackgroundimg {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 680px;
    height: 185px;
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 3;
    background-color: palevioletred;
}

#profilebackgroundimgspace {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0px solid black;
    background-color: white;
    z-index: 5;
    transform: translate(-50%);
    top: 107px;
    left: 50%;
}

#profbackimg {
    position: absolute;
    width: 140px;
    height: 140px;
    border: 0px solid black;
    border-radius: 50%;
    transform: translate(-50%);
    top: 5px;
    left: 50%;
    z-index: 5;
}   

#profname {
    position: absolute;
    top: 210px;
    left: 35px;
    font-weight: bold;
    font-size: 22px
}

#proftag {
    position: absolute;
    top: 248px;
    left: 35px;
    color: gray;
}

#proffollowers {
    position: absolute;
    top: 280px;
    left: 35px;
}

#proffollowing {
    position: absolute;
    top: 280px;
    left: 130px;
}

#profsite {
    position: absolute;
    top: 312px;
    left: 35px;
    color: gray;
}

#profdesc {
    color: black;
	position: relative;
	margin-top: 345px;
	left: 35px;
    width: 450px;
    font-size: 15px;
    margin-bottom: 30px;
}

.postblock {
	position: relative;
	width: 680px;
	min-height: 180px;
	margin-top: 10px;
	margin-bottom: 30px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	left: 205px;
	border-radius: 6px;
}

.posttext {
	border-radius: 6px;
	outline: none;
	border: none;
	background-color: whitesmoke;
	width: 570px;
	min-height: 80px;
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 0px;
	position: relative;
	font-size: 16px;
}

.postimage {
	display: none;
}

.postimagelabel {
	opacity: 0.7;
	position: absolute;
	right: 35px;
	top: 60px;
}

.postimagelabel:hover {
	cursor:pointer;
	opacity: 0.65;
}

.postsubmit {
	border-radius: 6px;
	outline: none;
	border: none;
	background-color: palevioletred;
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
	filter: brightness(112%);
	color: white;
	position: absolute;
	bottom: 15px;
	right: 15px;
	font-weight: bold;
	width: 100px;
	height: 30px;
	font-size: 16px;
}

.postclearbutton {
	border-radius: 6px;
	outline: none;
	border: none;
	background-color: black;
	opacity: 0.6;
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
	filter: brightness(112%);
	color: white;
	position: absolute;
	bottom: 15px;
	left: 15px;
	font-weight: bold;
	width: 100px;
	height: 30px;
	font-size: 16px;
}

#editprofbuttonback {
    position: absolute;
    width: 135px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

#successmsg {
	color: green;
	position: relative;
	z-index: 4;
	margin-top: 470px;
	margin-left: 30px;
}

#failmsg {
	color: red;
	position: relative;
	z-index: 4;
	margin-top: 470px;
	margin-left: 30px;
}

.editprofbutclose {
    filter: brightness(112%);
    right: 35px;
    width: 120px;
    height: 30px;
    background-color: palevioletred;
}

.editprofbutopen {
    background-color: lightgray;
    right: 130px;
    width: 80px;
    height: 30px;
}

#editprofbutton {  
    color: white; 
    font-weight: bold;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
    top: 210px;
}

#saveprofedit {
    color: white; 
    font-weight: bold;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
    top: 210px;
    background-color: lawngreen;
    right: 40px;
    width: 80px;
    height: 30px;
}

.profileeditinactive {
    display: none;
}

#changebannerback {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 680px;
    height: 185px;
    border-radius: 6px;
    z-index: 4;
    background-color: black;
    opacity: 0.4;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#changebannerback:hover {
    cursor:pointer;
}

#changebannericon {
    position: absolute;
    left: 320px;
    top: 35px;
    color: white;
    z-index: 6;
    opacity: 0.9;
}

#changebannericon:hover {
    cursor: pointer;
}

#changeprofimgback {
    position: absolute;
    width: 140px;
    height: 140px;
    border: 0px solid black;
    border-radius: 50%;
    background-color: black;
    left: 270px;
    top: 112px;
    opacity: 0.4;
    z-index: 5;
}

#changeprofimgback:hover {
    cursor:pointer;
}

#changeprofimgicon {
    position: absolute;
    color: white;
    z-index: 6;
    left: 327px;
    top: 170px;
    opacity: 0.9;
}

#changeprofimgicon:hover {
    cursor: pointer;
}



#changename {
    position: absolute;
    top: 220px;
    left: 20px;
    height: 40px;
    border-radius: 6px; 
    border: none;
    outline: none;
    background-color: whitesmoke;
}

#changeuser {
    position: absolute;
    top: 270px;
    left: 20px;
    height: 40px;
    border-radius: 6px; 
    border: none;
    outline: none;
    background-color: whitesmoke;
}

#changesite {
    position: absolute;
    top: 320px;
    left: 20px;
    height: 40px;
    border-radius: 6px; 
    border: none;
    outline: none;
    background-color: whitesmoke;
}

#changedesc {
    position: absolute;
    top: 375px;
    left: 20px;
    height: 100px;
    width: 435px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: whitesmoke;
}

/***********************************************************explore Tab **********************************************************************/
#exploreblock {
	width: 680px;
	min-height: 60px;
}

#exploresearch {
	position: relative;
	border-radius: 6px;
	height: 60px;
	width: 680px;
	left: -1px;
	top: -1px;
	background-color: white;
	opacity: 0.6;
	font-size: 19px;
    z-index: 3;
    outline: none;
    border: none;
}

#explorediv {
	background-color: whitesmoke;
	border-radius: 6px;
	position: relative;
	width: 680px;
	min-height: 405px;
	left: 205px;
	margin-top: 2px;
}

.explorebubble {
	position: relative;
	background-color: white;
	margin-top: 5px;
	border-radius: 6px;
	border: none;
	width: 680px;
	min-height: 110px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
}

/**************************************squabble blocks************************************/

#soloblock {
	width: 490px;
	height: 70px;
	margin-bottom: 3px;
}

#solosearch {
}

.sideblocks {
	height: 70px;
	width: 185px;
	position: absolute;
	left: 715px;
	top: 93px;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
}

.squabbletype {
	position: absolute;
	outline: none;
	width: 165px;
	left: 10px;
	top: 10px;
	border: none;
	background-color: whitesmoke;
	border-radius: 6px;
}

.squabblesearch {
	width: 468px;
	height: 68px;
	top: 1px;
	left: 1px;
	border-radius: 6px;
	outline: none;
	opacity: 0.6;
	border: none;
	position: relative;
	background-color: white;
}

.squabblesubmit {
	position: absolute;
	border-radius: 6px;
	border: none;
	outline: none;
	background-color: palevioletred;
	filter: brightness(112%);
	box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
	bottom: 10px;
	left: 10px;
	height: 25px;
	width: 165px;
	color: white;
	font-weight: bold;
}

.squabbledivs {
	background-color: whitesmoke;
	border-radius: 6px;
	position: relative;
	width: 680px;
	min-height: 405px;
	left: 205px;
	margin-top: 2px;
}

.squabblebubbles {
	position: relative;
	background-color: white;
	margin-top: 5px;
	border-radius: 6px;
	border: none;
	width: 680px;
	min-height: 150px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
}

#multiblock {
	width: 680px;
	height: 495px;
}

#createblock {
	width: 680px;
	height: 495px;
}

/*********************************start nav styling*********************************************************************************************/
#sidebar {
    position: absolute;
    border: 0px solid black;
    width: 220px;
    height: calc(100% - 121px);
    left: -8px;
    top: 91px;
}

.mainnav {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
	border-radius: 6px;
	width: 210px;
	height: 270px;
    top: 252px;
    left: 0px;
	position: sticky;
}

.uppernavtrans {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
	border-radius: 6px;
	width: 210px;
	height: 270px;
    top: 93px;
    left: 0px;
	position: sticky;
}

.navbuttons {
	border: 0px solid black;
	background-color: white;
	text-align: left;
	font-weight: bold;
	width: 193px;
	height: 66px;
	display: inline-block;
	outline: none;
}

.navbuttondiv {
	margin-top: 8px;
}

.navbuttonh3 {
	margin-bottom: 0px; 
	margin-top: 6px;
	display: inline;
	font-weight: bold;
	font-size: 20px;
}

.navbuttonicon {
	display: inline; 
	margin-right: 10px;
	vertical-align: middle;
	opacity: 0.5;

}

.stylebuttonwrapper:hover .navbuttondiv .navbuttonicon {
	opacity: 1;
}

.navbuttonsubtext {
	margin-left: 48px;
}


.mainblocknav button.active {
  background-color: #ccc;
}

.active .stylebuttonwrapper .navbuttondiv {
	color: palevioletred;
	filter: brightness(112%);

}

.active .stylebuttonwrapper .navbuttondiv .navbuttonicon {
	color: palevioletred;
	opacity: 1;
}

#squabblebutton {
	color: gray;
}

#squabblebutton:hover {
	color: palevioletred;
	opacity: 1;
}

#profilebutton {
	color: gray;
}

#profilebutton:hover {
	color: palevioletred;
	opacity: 1;
}

#otherbutton {
	color: gray;
}

#otherbutton:hover {
	color: palevioletred;
	opacity: 1;
}

#feedbutton {
	color: gray;
}

#feedbutton:hover {
	color: palevioletred;
	opacity: 1;
}

/**********************************feed styling****************/

#feedblock {
	width: 680px;
	height: 80px;
}

#feedmenu {
	position: absolute;
	top: 10px;
	left: 131px;
	border: 0px solid black;
	background-color: whitesmoke;
	border-radius: 6px;
	width: 413px;
	height: 57px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	z-index: 4;
}

#feeddiscover {
	font-weight: bold;
	color: white;
	left: 5px;
}

.openfeed {
	border-radius: 6px;
	position: absolute;
	height: 48px;
	width: 195px;
	margin-top: 4px;
	left: 10px;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	background-color: palevioletred;
	filter: brightness(112%);
	opacity: 1;
    font-size: 16px;
    outline: none;
}

.openfeed:hover {
	opacity: 0.9;
}

.closedfeed {
	border-radius: 6px;
	position: absolute;
	height: 48px;
	width: 195px;
	margin-top: 4px;
	left: 10px;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	background-color: black;
	opacity: 0.6;
    font-size: 16px;
    outline: none;
}

.closedfeed:hover {
	opacity: 0.5;
}

#feedfollowing {
	left: 213px;
	font-weight: bold;
	color: white;
}
.feeddiv {
	background-color: whitesmoke;
	border-radius: 6px;
	position: relative;
	width: 680px;
	min-height: 405px;
	left: 205px;
	margin-top: 2px;
}

.activefeed {
	display: inline-block;
}

.inactivefeed {
	display: none;
}

.feedbubble {
	width: 680px;
	min-height: 200px;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	background-color: white;
	margin-top: 6px;
	border-radius: 6px;

}

.bottomfeedbubble {
	width: 680px;
	height: 80px;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	background-color: white;
	margin-top: 6px;
	margin-bottom: 30px;
	border-radius: 6px;
}

.botfeedbuttons {
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	width: 140px;
	height: 30px;
	border-radius: 6px;
	outline: none;
	border: none;
	font-weight: bold;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.feedbacktotop {
	left: 30px;
	background-color: black;
	opacity: 0.6;
	color: white;
}

.feedload {
	right: 30px;
	background-color: palevioletred;
	color: white;
	filter: brightness(112%);
}

.bottomfeedimg {
	height: 55px;
	width: 55px;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	position: absolute;
	filter: drop-shadow(0.75px 0.75px 0.75px palevioletred) brightness(112%);
}


/********************************************************************** stream styling **********************/

#stream {
	left: 915px;
	top: 91px;
	position: absolute;
	z-index: 1;
}

#streambackground {
	border: 1px solid white;
	background-color: white;
	border-radius: 6px;
	width: 298px;
	height: 617px;
	left: 0px;
	top: 70px;
	position: absolute;
	z-index: 2;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#streamdiv {
	background-color: white;
	border-radius: 0px;
	position: absolute;
	width: 298px;
	height: 615px;
	top: 67.5px;
	left: 0px;
	z-index: 3;
	overflow-y: scroll;
}

.streambubble {
    position: relative;
    width: 288px;
    min-height: 0px;
    border: 0px solid black;
    margin-top: 5px;
    overflow: hidden;
}

.streambubblepictureblock {
    position: absolute;
    border: 0px solid black;
    width: 60px;
    height: 60px;
    left: 15px;
    top: 5px;
    border-radius: 50%;
}

.streambubbleuser {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 45px;
    top: 67px;
    color: gray;
}

.streambubbleheaderblock {
    position: relative;
    width: 190px;
    right: -88px;
}

.streambubbleheader {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    
}

.streambubbletextblock {
    position: relative;
    width: 175px;
    left: 105px;
    border: 0px solid black;
}

.streambubbletext {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.streambubbletextexp {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 10; /* number of lines to show */
           line-clamp: 10; 
   -webkit-box-orient: vertical;   
}

.streambuboverflowblock {
    position: absolute;
    left: 220px;
    bottom: 0px
}

.streambuboverflow {
    font-size: 13px;
    background: none;
    outline: none;
    border: none;
}

.strmoverflowclosed {
    color: palevioletred;
    font-size: 13px;
    background: none;
    outline: none;
    border: none;
}

.strmoverflowopen {
    color: black;
    font-size: 13px;
    background: none;
    outline: none;
    border: none;
}

.streambubblebottomline {
	margin-top: 15px;
    margin-bottom: 0px;
	position: relative;
	z-index: 9;
	height: 0.5px;
	filter: brightness(112%);
	background-color: lightgray;
}

#notificationdiv {
	background-color: white;
	border-radius: 0px;
	position: absolute;
	width: 298px;
	height: 422px;
	top: 67.5px;
	left: 0px;
	z-index: 3;
	overflow-y: scroll;
}

.activeside {
    display: block;
}

.inactiveside {
    display: none;
}

.openstream {
	border-radius: 6px;
	position: absolute;
	height: 70px;
	width: 148px;
	top: 0px;
	left: 0px;
	border: none;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
	color: palevioletred;
	filter: brightness(112%);
	background-color: white;
	font-weight: 800;

}

.openstream:hover {
	opacity: 0.9;
}

.closedstream {
	border-radius: 6px;
	position: absolute;
	height: 70px;
	width: 148px;
	top: 0px;
	left: 0px;
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	color: gray;
	filter: brightness(112%);
	background-color: white;
	font-weight: bold;

}

.closedstream:hover {
	opacity: 0.9;
}

#streambutton {
	z-index: 2;
	top: 2px;
	outline: none;
	font-size: 21px;
}

#notificationbutton {
	left: 150px;
	z-index: 2;
	top: 2px;
	outline: none;
	font-size: 19px;
}

#streamline {
	top: 44.5px;
	left: 0px;
	width: 149px;
	position: absolute;
	z-index: 9;
	height: 1.5px;
	filter: brightness(112%);
	background-color: palevioletred;
}

#notifyline {
	top: 46px;
	left: 150px;
	width: 149px;
	position: absolute;
	z-index: 9;
	height: 0.5px;
	filter: brightness(112%);
	background-color: lightgray;
}

/*******************************************************bottom thing *******************************/
#bottomblock {
	border: 1px solid white;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 6px;
	width: 298px;
	min-height: 100px;
	left: 915px;
	top: 601px;
	position: absolute;
}

#hidebutton {
	background-color: black;
	opacity: 0.6;
	outline: none;
	border: 0px solid lightgray;
	border-radius: 6px;
	position: relative;
	height: 30px;
	width: 210px;
	transform: translate(-50%);
	left: 50%;
	margin-top: 10px;
	margin-bottom: 20px;
	z-index: 4;
	font-weight: bold;
	color: white;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

#hidebutton:hover {
	opacity: 0.5;
}


.info {
	width: 210px;
	height: 30px;
	position: relative;
	margin-top: 15px;
	transform: translate(-50%);
	left: 50%;
    font-size: 14px;
	color: white;
	font-weight: bold;
	border-radius: 6px;
	border: 0px;
	outline: none;
    box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
    
}

.closeinfo {
	background-color: palevioletred;
	filter: brightness(110%);
}

.closeinfo:hover {
	opacity: 0.9;
}

.openinfo {
	background-color: black;
	opacity: 0.6;
	filter: drop-shadow(1px 1px 1px black);
}

.openinfo:hover {
	opacity: 0.5;
}

#smallinfobutton:hover {
	cursor: pointer;
}

#smallinfopopup {
	position: absolute;
	width: 640px;
	height: 700px;
	border: 0px solid black;
	background-color: white;
	z-index: 7;
	left: 240px;
	top: 85px;
	border-radius: 6px;
	display: none;
	box-shadow: 0 0 0 2000px rgba(0,0,0,0.6);
}

#smallinfopopupclose {
	background-color: white;
	outline: none;
	border: 0px;
	right: 8px;
	top: 8px;
	position: absolute;
	color: red;
	font-weight: bold;
	font-size: 18px;
}

#sessionbackground {
	width: 100%;
	border:  0px solid black;
	min-height: 40px;
	position: relative;
}

#bottomblockline {
	top: 24.5px;
	left: 0px;
	width: 100%;
	position: absolute;
	z-index: 9;
	height: 1.5px;
	filter: brightness(112%);
	background-color: palevioletred;
}

#sessionhead {
	position: relative;
	font-weight: bold;
	text-align: center;
	color: palevioletred;
	filter: brightness(112%);
	margin-top: 12px;
}

#credentialsbackground {
	width: 100%;
	border:  0px solid black;
	height: auto;
	position: relative;
	margin-top: 5px;
}

/********************************************************footer styling****************************/

footer {
	font-family: 'Lato', sans-serif;
}

#footerborder {
	background-color: white;
	height: 191px;
	color: #777;
	margin-top: 30px;
	text-align: center;
}

li {
	display: inline;
	margin-right: 8px;
	margin-left: 8px;
}

.footerlink {
	color: #777;
}

.footerlink:hover {
	color: #7777;
}

#footerlist {
	list-style: none;
	font-size: 14px;
	display: inline;
}