#matchblock {
	height: 480px;
	width: 1100px;
	margin-bottom: 30px;
	background-color: palevioletred;
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 6px;   
 	margin-top: 93px;
 	left: 50%;
  	transform: translateX(-50%);
  	filter: brightness(112%);
  	position: absolute;
}

#hostblock {
	height: 320px;
	width: 360px;
	border: 3px solid whitesmoke;
	background-color: white;
	position: absolute;
	box-shadow: inset 0 0px 2px 2px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin-top: 20px;
	left: 20px;
} 

#hostcontrol {
	height: 100px;
	width: 360px;
	border: 3px solid whitesmoke;
	background-color: white;
	position: absolute;
	box-shadow: inset 0 0px 2px 2px rgba(0,0,0,0.2);
	border-radius: 6px;
	top: 348px;
	left: 20px;
}

#hostready {
	height: 80px;
	width: 340px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 6px;
	border: none;
	box-shadow:  0 0px 1px 2px rgba(0,0,0,0.2);
	background-color: whitesmoke;
	font-size: 22px;
	font-weight: bold;
}

#hostbanner {
	width: 350px;
	height: 70px;
	background-color: palevioletred;
	position: absolute;
	left: 50%;
	top: 2px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	transform: translateX(-50%);
}


#guestblock {
	height: 320px;
	width: 360px;
	border: 3px solid whitesmoke;
	background-color: white;
	position: absolute;
	box-shadow: inset 0 0px 2px 2px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin-top: 20px;
	right: 20px;
}

#guestready {
	height: 80px;
	width: 340px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 6px;
	border: none;
	box-shadow:  0 0px 1px 2px rgba(0,0,0,0.2);
	background-color: whitesmoke;
}

#guestindicator {
	text-align: center;
	line-height: 40px;
	font-size: 22px;
	font-weight: bold;
}

#guestcontrol {
	height: 100px;
	width: 360px;
	border: 3px solid whitesmoke;
	background-color: white;
	position: absolute;
	box-shadow: inset 0 0px 2px 2px rgba(0,0,0,0.2);
	border-radius: 6px;
	top: 348px;
	right: 20px;
}

#infocenter {
	min-height: 260px;
	width: 300px;
	border: 3px solid whitesmoke;
	background-color: white;
	position: relative;
	transform: translateX(-50%);
	box-shadow: inset 0 0px 2px 2px rgba(0,0,0,0.2);
	border-radius: 6px;
	left: 50%;
	margin-top: 40px;
}

#controlcenter {
	height: 120px;
	width: 300px;
	border: 3px solid whitesmoke;
	background-color: whitesmoke;
	position: relative;
	transform: translateX(-50%);
	box-shadow: inset 0 0px 2px 2px rgba(0,0,0,0.2);
	border-radius: 6px;
	left: 50%;
	margin-top: 8px;
}